- Promediar las vtas de agosto 2019 (201908) como las de julio (201907) y septiembre (201909) para todas las observaciones
- Buscar los 'product_id' que tengan poca hitoria (agrupandolos por product_id y periodo y validar que tengan menos registros que training_trashold), eliminarlos del conjunto, y agregarlos el un dataframe "Predicciones", poniendo product_id junto con una columna "prediccion", que sea la media de las ventas de los periodos
- Aplicar LabelEncoder a las columnas categoricas
- Agrupar los restantes las ventas por periodo, cat1, cat2, cat3, marca y descripcion
- Calcular para estos el ratio de ventas por product_id (para cada grupo de cat1, cat2, cat3, marca y descripcion), guardando esto en un diccionario: cat1, cat2, cat3, marca, descripcion, product_id y ratio

----
- Agrupar las ventas por periodo, cat1, cat2, cat3, marca, descripcion y customer_id. Sumarizando los valores de las columnas cust_request_qty, cust_request_tn y tn.
- Aplicar escalers por columna a cada grupo (guardando estos scalers en un diccionario)
- Armar un modelo LSTM para predecir las ventas de cada uno de estos grupos (usando todas las observaciones menos las ultimas 2 para predecir la ultima )
----

- Luego, para cada grupo, hacer las predicciones con su modelo correspondiente (usando todas las observaciones menos las primeras 2). Guardando estas predicciones en un dataframe con la estructura cat1, cat2, cat3, marca, descripcion
- sumarizar las predicciones por cat1, cat2, cat3, marca, descripcion
- para cada cat1, cat2, cat3, marca, descripcion, buscar los product_id en el diccionario de ratios, aplicarlo sobre las predicciones sumarizadas, y armar un dataframe product_id y prediccion
- unificar este dataframe con el "Predicciones"
- guardar este df en un csv

#### Imports

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import joblib

In [3]:
df = pd.read_csv('../../Datasets/final_dataset_corto.csv', sep='\t')

In [4]:
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age
0,201701,10001,20001,0,11,99.43861,99.43861,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
1,201701,10002,20001,0,17,38.68301,35.72806,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
2,201701,10003,20001,0,17,143.49426,143.49426,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
3,201701,10004,20001,0,9,184.72927,184.72927,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
4,201701,10005,20001,0,23,19.08407,19.08407,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0

#### Paso 2: Promediar las ventas de agosto 2019 (201908) con julio (201907) y septiembre (201909)

In [12]:
df['periodo'] = df['periodo'].astype(str).str.strip()

# Filtrar los datos por los periodos 201907, 201908 y 201909
df_filtered = df[df['periodo'].isin(['201907', '201908', '201909'])]

# # Pivotear los datos para tener columnas separadas para cada periodo
pivoted_sales = df_filtered.pivot_table(index=['product_id', 'customer_id'], columns='periodo', values='tn').reset_index()

# # Asegurar que las columnas 201907 y 201909 existen en el DataFrame
pivoted_sales = pivoted_sales.reindex(columns=['product_id', 'customer_id', '201907', '201908', '201909'])

# # Calcular el promedio de julio y septiembre
pivoted_sales['201908'] = pivoted_sales[['201907', '201909']].mean(axis=1)

# # Convertir de nuevo al formato largo
updated_sales = pivoted_sales.melt(id_vars=['product_id', 'customer_id'], value_vars=['201907', '201908', '201909'], 
                                   var_name='periodo', value_name='tn')

# # Unir con el dataframe original
df.set_index(['product_id', 'customer_id', 'periodo'], inplace=True)
df.update(updated_sales.set_index(['product_id', 'customer_id', 'periodo']))
df.reset_index(inplace=True)

# Mostrar el DataFrame filtrado
display(df)

,product_id,customer_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age
0,20001,10001,201701,0,11,99.43861,99.43861,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
1,20001,10002,201701,0,17,38.68301,35.72806,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
2,20001,10003,201701,0,17,143.49426,143.49426,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
3,20001,10004,201701,0,9,184.72927,184.72927,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
4,20001,10005,201701,0,23,19.08407,19.08407,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2938365,20854,10373,201912,0,1,0.03604,0.03604,HC,PROFESIONAL,SUAVIZANTE,INDUSTRIAL,5000,Suavizante,Q4,12,1,0
2938366,20854,10380,201912,0,1,0.01802,0.01802,HC,PROFESIONAL,SUAVIZANTE,INDUSTRIAL,5000,Suavizante,Q4,12,1,0
2938367,20854,10465,201912,0,1,0.03604,0.03604,HC,PROFESIONAL,SUAVIZANTE,INDUSTRIAL,5000,Suavizante,Q4,12,1,0
2938368,20854,10468,201912,0,1,0.16216,0.16216,HC,PROFESIONAL,SUAVIZANTE,INDUSTRIAL,5000,Suavizante,Q4,12,1,0
2938369,20854,10499,201912,0,1,0.01802,0.01802,HC,PROFESIONAL,SUAVIZANTE,INDUSTRIAL,5000,Suavizante,Q4,12,1,0

#### Paso 3: Filtrar y eliminar productos con poca historia

In [13]:
training_threshold = 12

# Contar el número de registros por product_id y periodo
product_history = df.groupby(['product_id', 'periodo']).size().reset_index(name='counts')

# Filtrar productos con menos registros que el threshold
products_to_keep = product_history[product_history['counts'] >= training_threshold]['product_id'].unique()
df_filtered = df[df['product_id'].isin(products_to_keep)]

# Crear el DataFrame "Predicciones" para productos con poca historia
products_to_predict = product_history[product_history['counts'] < training_threshold]['product_id'].unique()
predicciones = df[df['product_id'].isin(products_to_predict)].groupby('product_id')['tn'].mean().reset_index()
predicciones.rename(columns={'tn': 'prediccion'}, inplace=True)

#### Paso 4: Aplicar LabelEncoder a las columnas categóricas

In [14]:
categorical_cols = ['cat1', 'cat2', 'cat3', 'brand', 'descripcion', 'quarter']

# Aplicar LabelEncoder
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df_filtered[col] = le.fit_transform(df_filtered[col])
    label_encoders[col] = le

C:\Users\maria\AppData\Local\Temp\ipykernel_15264\3135655988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[col] = le.fit_transform(df_filtered[col])
C:\Users\maria\AppData\Local\Temp\ipykernel_15264\3135655988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[col] = le.fit_transform(df_filtered[col])
C:\Users\maria\AppData\Local\Temp\ipykernel_15264\3135655988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[col] = le.fit_transform(df_filtered[col])
C:\Users\maria\AppData\Local\Temp\ipykernel_15264\3135655988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[col] = le.fit_transform(df_filtered[col])
C:\Users\maria\AppData\Local\Temp\ipykernel_15264\3135655988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[col] = le.fit_transform(df_filtered[col])
C:\Users\maria\AppData\Local\Temp\ipykernel_15264\3135655988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[col] = le.fit_transform(df_filtered[col])

#### Paso 5: Agrupar y calcular el ratio de ventas por product_id

In [16]:
# Agrupar por las columnas relevantes
grouped_sales = df_filtered.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand', 'product_id'])['tn'].sum().reset_index()

# Calcular el total de ventas por grupo
group_totals = grouped_sales.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand'])['tn'].sum().reset_index()

# Unir para calcular el ratio
ratios = pd.merge(grouped_sales, group_totals, on=['periodo', 'cat1', 'cat2', 'cat3', 'brand'], suffixes=('', '_total'))

# Calcular el ratio
ratios['ratio'] = ratios['tn'] / ratios['tn_total']

# Crear un diccionario de ratios
ratio_dict = ratios.set_index(['cat1', 'cat2', 'cat3', 'brand', 'product_id'])['ratio'].to_dict()

#### Paso 6: Agrupar ventas por periodo, cat1, cat2, cat3, brand, descripcion y customer_id

In [27]:
# Agrupar y sumarizar
grouped_df = df_filtered.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'quarter', 'month']).agg({
    'cust_request_qty': 'sum',
    'cust_request_tn': 'sum',
    'tn': 'sum'
}).reset_index()

In [28]:
display(grouped_df)

,periodo,cat1,cat2,cat3,brand,customer_id,quarter,month,cust_request_qty,cust_request_tn,tn
0,201701,0,0,4,23,10001,0,1,5,0.29877,0.29877
1,201701,0,0,4,23,10002,0,1,25,0.71810,0.71810
2,201701,0,0,4,23,10003,0,1,6,0.47699,0.47699
3,201701,0,0,4,23,10004,0,1,11,0.49795,0.49795
4,201701,0,0,4,23,10005,0,1,1,0.00524,0.00524
...,...,...,...,...,...,...,...,...,...,...,...
722518,201912,3,13,88,33,10004,3,12,1,0.00946,0.00946
722519,201912,3,13,88,33,10018,3,12,2,0.00219,0.00219
722520,201912,3,13,88,33,10110,3,12,1,0.00073,0.00073
722521,201912,3,13,88,33,10159,3,12,1,0.00146,0.00146
722522,201912,3,13,88,33,10253,3,12,2,0.00146,0.00146

#### Paso 7: Aplicar escalers por columna a cada grupo

In [29]:
# Crear un diccionario para almacenar los scalers
scalers = {}
scaled_df = grouped_df.copy()

# Aplicar StandardScaler a cada columna de interés
for col in ['cust_request_qty', 'cust_request_tn', 'tn']:
    scaler = StandardScaler()
    scaled_df[col] = scaler.fit_transform(scaled_df[[col]])
    scalers[col] = scaler

# Guardar los scalers para su uso posterior
joblib.dump(scalers, 'scalers.pkl')

['scalers.pkl']

#### Paso 8: Armar un modelo LSTM

In [30]:
from keras.optimizers import SGD, RMSprop, Adam
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense, GRU
from keras.regularizers import l2
from sklearn.model_selection import KFold
import numpy as np
from keras.callbacks import ReduceLROnPlateau, EarlyStopping

def build_lstm_model(input_shape):
    model = Sequential()
    model.add(LSTM(128, activation='tanh', kernel_regularizer=l2(0.7), return_sequences=True, input_shape=input_shape))
    model.add(Dropout(0.1))
    model.add(LSTM(256, activation='tanh', kernel_regularizer=l2(0.7), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(0.7), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(0.7), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(0.7), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(256, activation='tanh', kernel_regularizer=l2(0.7), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(128, activation='relu', kernel_regularizer=l2(0.7)))
    model.add(Dropout(0.1))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mse')
    return model

#### Paso 9: Entrenar y predecir con el modelo LSTM para cada grupo

In [80]:
# Agrupar por las columnas relevantes
grouped_df['periodo'] = pd.to_datetime(grouped_df['periodo'], format='%Y%m')

# Crear un diccionario para almacenar los modelos por grupo
models = {}
predictions = []

for (cat1, cat2, cat3, brand, customer_id), group_data in grouped_df.groupby(['cat1', 'cat2', 'cat3', 'brand','customer_id']):
    # Ordenar por periodo
    group_data = group_data.sort_values(by='periodo')
    
    # Transformar los datos para LSTM
    n_steps = 2  # Por ejemplo
    X, y = [], []
    
    X = group_data[['cust_request_qty', 'cust_request_tn', 'cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'quarter', 'month', 'tn']]
    y = group_data['tn']
    
    X = np.reshape(X, (X.shape[0], 1, X.shape[1]))  # (número de muestras, timesteps, características)
    
    # Construir y entrenar el modelo
    model = build_lstm_model((X.shape[1], X.shape[2]))
    model.fit(X[:-n_steps], y[n_steps:], epochs=50, verbose=2)
    models[(cat1, cat2, cat3, brand, customer_id)] = model
    
    # Hacer predicciones
    X_pred = group_data[['cust_request_qty', 'cust_request_tn', 'cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'quarter', 'month', 'tn']].values[-n_steps:]  # Tomar los últimos n_steps
    X_pred = np.reshape(X_pred, (1, X_pred.shape[0], X_pred.shape[1]))  # Asegurar la forma correcta para la predicción
    pred = model.predict(X_pred, verbose=2)
    predictions.append([cat1, cat2, cat3, brand, customer_id, pred[0][0]])
    display(f"Prediccion {pred}")

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/50
80/80 - 12s - 153ms/step - loss: 282.4401
Epoch 2/50
80/80 - 4s - 49ms/step - loss: 1.8134
Epoch 3/50
80/80 - 3s - 41ms/step - loss: 0.0343
Epoch 4/50
80/80 - 3s - 42ms/step - loss: 0.0274
Epoch 5/50
80/80 - 4s - 45ms/step - loss: 0.0274
Epoch 6/50
80/80 - 3s - 41ms/step - loss: 0.0275
Epoch 7/50
80/80 - 3s - 42ms/step - loss: 0.0274
Epoch 8/50
80/80 - 4s - 48ms/step - loss: 0.0274
Epoch 9/50
80/80 - 4s - 48ms/step - loss: 0.0274
Epoch 10/50
80/80 - 4s - 44ms/step - loss: 0.0275
Epoch 11/50
80/80 - 4s - 48ms/step - loss: 0.0274
Epoch 12/50
80/80 - 4s - 45ms/step - loss: 0.0274
Epoch 13/50
80/80 - 4s - 46ms/step - loss: 0.0274
Epoch 14/50
80/80 - 4s - 47ms/step - loss: 0.0275
Epoch 15/50
80/80 - 4s - 49ms/step - loss: 0.0274
Epoch 16/50
80/80 - 3s - 41ms/step - loss: 0.0274
Epoch 17/50
80/80 - 3s - 39ms/step - loss: 0.0275
Epoch 18/50
80/80 - 3s - 39ms/step - loss: 0.0275
Epoch 19/50
80/80 - 4s - 45ms/step - loss: 0.0274
Epoch 20/50
80/80 - 4s - 50ms/step - loss: 0.0274
Epoch 21/50
80/80 - 4s - 52ms/step - loss: 0.0274
Epoch 22/50
80/80 - 3s - 43ms/step - loss: 0.0275
Epoch 23/50
80/80 - 4s - 53ms/step - loss: 0.0274
Epoch 24/50
80/80 - 5s - 56ms/step - loss: 0.0275
Epoch 25/50
80/80 - 4s - 47ms/step - loss: 0.0275
Epoch 26/50
80/80 - 4s - 49ms/step - loss: 0.0274
Epoch 27/50
80/80 - 3s - 40ms/step - loss: 0.0274
Epoch 28/50
80/80 - 3s - 43ms/step - loss: 0.0275
Epoch 29/50
80/80 - 4s - 45ms/step - loss: 0.0275
Epoch 30/50
80/80 - 4s - 47ms/step - loss: 0.0275
Epoch 31/50
80/80 - 4s - 46ms/step - loss: 0.0274
Epoch 32/50
80/80 - 4s - 44ms/step - loss: 0.0275
Epoch 33/50
80/80 - 4s - 46ms/step - loss: 0.0275
Epoch 34/50
80/80 - 4s - 50ms/step - loss: 0.0274
Epoch 35/50
80/80 - 4s - 48ms/step - loss: 0.0274
Epoch 36/50
80/80 - 4s - 45ms/step - loss: 0.0274
Epoch 37/50
80/80 - 4s - 47ms/step - loss: 0.0275
Epoch 38/50
80/80 - 3s - 43ms/step - loss: 0.0275
Epoch 39/50
80/80 - 3s - 42ms/step - loss: 0.0274
Epoch 40/50
80/80 - 4s - 50ms/step - loss: 0.0274
Epoch 41/50

#### Paso 10: Sumarizar las predicciones y aplicar ratios

In [ ]:
# Convertir las predicciones a un DataFrame
pred_df = pd.DataFrame(predictions, columns=['cat1', 'cat2', 'cat3', 'brand', 'prediccion', 'customer_id'])

# Sumarizar las predicciones por grupo
summarized_preds = pred_df.groupby(['cat1', 'cat2', 'cat3', 'brand'])['prediccion'].sum().reset_index()

# Aplicar los ratios para obtener las predicciones finales por product_id
final_predictions = []
for _, row in summarized_preds.iterrows():
    key = (row['cat1'], row['cat2'], row['cat3'], row['brand'])
    for (cat1, cat2, cat3, brand, product_id), ratio in ratio_dict.items():
        if (cat1, cat2, cat3, brand) == key:
            final_predictions.append([product_id, row['prediccion'] * ratio])

# Convertir las predicciones finales a un DataFrame
final_predictions_df = pd.DataFrame(final_predictions, columns=['product_id', 'prediccion'])

# Paso 11: Desescalar las predicciones finales
# Cargar los scalers guardados
scalers = joblib.load('scalers.pkl')

# Desescalar las predicciones finales
final_predictions_df['prediccion'] = scalers['tn'].inverse_transform(final_predictions_df[['prediccion']])

# Unificar con el DataFrame "Predicciones"
final_df = pd.concat([final_predictions_df, predicciones])

# Guardar el resultado en un archivo CSV
final_df.to_csv('predicciones_finales.csv', index=False)