#### Imports

In [51]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import joblib

In [52]:
df = pd.read_csv('../../Datasets/final_dataset_descr.csv', sep='\t')

In [53]:
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age
0,201701,10001,20001,0,11,99.43861,99.43861,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
1,201701,10002,20001,0,17,38.68301,35.72806,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
2,201701,10003,20001,0,17,143.49426,143.49426,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
3,201701,10004,20001,0,9,184.72927,184.72927,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
4,201701,10005,20001,0,23,19.08407,19.08407,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0

#### Paso 1: Filtrar y eliminar productos con poca historia

Completamos el dataset con 0 para los producto / cliente que no existen

In [ ]:
# product_ids = [20001, 20002, 20003, 20004, 20005, 20006, 20007, 20008, 20009, 20010, 20011, 20012]

In [ ]:
# filtered_df = df[df['product_id'].isin(product_ids)]

In [ ]:
# display(filtered_df)

In [ ]:
df['periodo'] = pd.to_datetime(df['periodo'], format='%Y%m')

df = df[df['periodo'] >= '2018-12-01']

product_info = df[['product_id', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size', 'descripcion']].drop_duplicates()

min_max_periods = df.groupby(['customer_id', 'product_id'])['periodo'].agg(['min', 'max']).reset_index()

all_dfs = []

cont = 1

for _, row in min_max_periods.iterrows():
    customer_id = row['customer_id']
    product_id = row['product_id']
    min_period = row['min']
    max_period = '2019-12-01'
    all_periods = pd.date_range(min_period, max_period, freq='MS')
    
    combinations = pd.DataFrame({
        'customer_id': [customer_id] * len(all_periods),
        'product_id': [product_id] * len(all_periods),
        'periodo': all_periods
    })
    
    merged_df = pd.merge(combinations, df, on=['customer_id', 'product_id', 'periodo'], how='left')
    
    merged_df['tn'] = merged_df['tn'].fillna(0)
    
    merged_df['tn'] = merged_df['tn'].fillna(0)
    merged_df['cat1'] = merged_df['product_id'].map(product_info.set_index('product_id')['cat1'])
    merged_df['cat2'] = merged_df['product_id'].map(product_info.set_index('product_id')['cat2'])
    merged_df['cat3'] = merged_df['product_id'].map(product_info.set_index('product_id')['cat3'])
    merged_df['brand'] = merged_df['product_id'].map(product_info.set_index('product_id')['brand'])
    merged_df['sku_size'] = merged_df['product_id'].map(product_info.set_index('product_id')['sku_size'])
    merged_df['descripcion'] = merged_df['product_id'].map(product_info.set_index('product_id')['descripcion'])
    
    merged_df['quarter'] = 'Q' + merged_df['periodo'].dt.to_period('Q').astype(str).str[-1]
    merged_df['month'] = merged_df['periodo'].dt.month.astype(str).str.zfill(2)
    
    merged_df['plan_precios_cuidados'] = merged_df['plan_precios_cuidados'].fillna(0)
    merged_df['cust_request_qty'] = merged_df['cust_request_qty'].fillna(0)
    merged_df['cust_request_tn'] = merged_df['cust_request_tn'].fillna(0)
    merged_df['close_quarter'] = merged_df['close_quarter'].fillna(0)
    merged_df['age'] = merged_df['age'].fillna(0)
    merged_df['mes_inicial'] = min_period
    
    all_dfs.append(merged_df)
    
    print(f"procesado {cont} de {len(min_max_periods)}")
    cont += 1

df_full = pd.concat(all_dfs, ignore_index=True)

df_full = df_full.sort_values(by=['customer_id', 'product_id', 'periodo'])

df_full['periodo'] = df_full['periodo'].dt.strftime('%Y%m')

display(df_full)

In [23]:
df_full.to_csv('final_dataset_completo_con_ceros.csv', sep='\t')

In [55]:
df_full = pd.read_csv("final_dataset_completo_con_ceros.csv", sep='\t')

In [56]:
display(df_full)

,Unnamed: 0,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,0,10001,20001,201812,0.0,20.0,254.62373,254.62373,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q4,12,1.0,23.0,2018-12-01
1,1,10001,20001,201901,0.0,53.0,393.26092,386.60688,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0.0,24.0,2018-12-01
2,2,10001,20001,201902,0.0,39.0,309.90610,309.90610,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,2,0.0,25.0,2018-12-01
3,3,10001,20001,201903,0.0,23.0,142.87158,130.54927,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,3,1.0,26.0,2018-12-01
4,4,10001,20001,201904,0.0,33.0,364.37071,364.37071,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q2,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,2040578,10618,20845,201912,0.0,0.0,0.00000,0.00000,HC,PROFESIONAL,PISOS,MUSCULO,5000,Profesional menta,Q4,12,0.0,0.0,2019-11-01
2040579,2040579,10618,20886,201911,0.0,1.0,0.01884,0.01884,HC,PROFESIONAL,Gel,MUSCULO,5000,Industrial 5L,Q4,11,0.0,4.0,2019-11-01
2040580,2040580,10618,20886,201912,0.0,0.0,0.00000,0.00000,HC,PROFESIONAL,Gel,MUSCULO,5000,Industrial 5L,Q4,12,0.0,0.0,2019-11-01
2040581,2040581,10618,20953,201911,0.0,1.0,0.01817,0.01817,HC,PROFESIONAL,PISOS,MUSCULO,5000,Profesinal pisos plastificados,Q4,11,0.0,4.0,2019-11-01
2040582,2040582,10618,20953,201912,0.0,0.0,0.00000,0.00000,HC,PROFESIONAL,PISOS,MUSCULO,5000,Profesinal pisos plastificados,Q4,12,0.0,0.0,2019-11-01

In [57]:
df_full = df_full.drop(columns=['Unnamed: 0'])

#### Paso 2: Aplicar LabelEncoder a las columnas categóricas

In [58]:
categorical_cols = ['cat1', 'cat2', 'cat3', 'brand', 'descripcion', 'quarter']

label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df_full[col] = le.fit_transform(df_full[col])
    label_encoders[col] = le

display(df_full)

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,10001,20001,201812,0.0,20.0,254.62373,254.62373,1,10,47,0,3000,384,3,12,1.0,23.0,2018-12-01
1,10001,20001,201901,0.0,53.0,393.26092,386.60688,1,10,47,0,3000,384,0,1,0.0,24.0,2018-12-01
2,10001,20001,201902,0.0,39.0,309.90610,309.90610,1,10,47,0,3000,384,0,2,0.0,25.0,2018-12-01
3,10001,20001,201903,0.0,23.0,142.87158,130.54927,1,10,47,0,3000,384,0,3,1.0,26.0,2018-12-01
4,10001,20001,201904,0.0,33.0,364.37071,364.37071,1,10,47,0,3000,384,1,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,10618,20845,201912,0.0,0.0,0.00000,0.00000,1,8,54,21,5000,260,3,12,0.0,0.0,2019-11-01
2040579,10618,20886,201911,0.0,1.0,0.01884,0.01884,1,8,31,21,5000,158,3,11,0.0,4.0,2019-11-01
2040580,10618,20886,201912,0.0,0.0,0.00000,0.00000,1,8,31,21,5000,158,3,12,0.0,0.0,2019-11-01
2040581,10618,20953,201911,0.0,1.0,0.01817,0.01817,1,8,54,21,5000,256,3,11,0.0,4.0,2019-11-01
2040582,10618,20953,201912,0.0,0.0,0.00000,0.00000,1,8,54,21,5000,256,3,12,0.0,0.0,2019-11-01

#### Paso 3: Agrupar y calcular el ratio de ventas por product_id

*NO SE USA EN ESTA VERSION, CODIGO HEREDADO DE CUANDO SE TRABAJO HASTA PRODUCTO SOLAMENTE*

In [61]:
grouped_sales = df_full.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand', 'product_id'])['tn'].sum().reset_index()
grouped_sales = grouped_sales[grouped_sales['periodo'] == 201912]

group_totals = grouped_sales.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand'])['tn'].sum().reset_index()

ratios = pd.merge(grouped_sales, group_totals, on=['periodo', 'cat1', 'cat2', 'cat3', 'brand'], suffixes=('', '_total'))

ratios['ratio'] = ratios['tn'] / ratios['tn_total']

ratio_dict = ratios.set_index(['cat1', 'cat2', 'cat3', 'brand', 'product_id'])['ratio'].to_dict()

In [62]:
display(ratio_dict)

{(0, 0, 4, 22, 20609): 1.0,
 (0, 0, 11, 22, 20266): 0.8902853590993973,
 (0, 0, 11, 22, 20325): 0.09463369678765542,
 (0, 0, 11, 22, 20503): 0.015080944112947194,
 (0, 0, 41, 18, 20299): 1.0,
 (0, 0, 41, 19, 20158): 1.0,
 (0, 0, 41, 22, 20033): 0.5843286913353127,
 (0, 0, 41, 22, 20095): 0.17227855901276462,
 (0, 0, 41, 22, 20119): 0.21901984451738263,
 (0, 0, 41, 22, 20242): 0.02437290513454,
 (0, 0, 48, 18, 20107): 0.5835676012609781,
 (0, 0, 48, 18, 20161): 0.2368165294241783,
 (0, 0, 48, 18, 20175): 0.13365037261349158,
 (0, 0, 48, 18, 20270): 0.04596549670135207,
 (0, 0, 48, 19, 20084): 0.28608061827647613,
 (0, 0, 48, 19, 20116): 0.35835342288529287,
 (0, 0, 48, 19, 20121): 0.23859655876074223,
 (0, 0, 48, 19, 20227): 0.11696940007748882,
 (0, 0, 48, 22, 20003): 0.3082454843319254,
 (0, 0, 48, 22, 20004): 0.2203131836596504,
 (0, 0, 48, 22, 20005): 0.2048903667719819,
 (0, 0, 48, 22, 20019): 0.12141472640344769,
 (0, 0, 48, 22, 20046): 0.051790796091872884,
 (0, 0, 48, 22, 20108): 0.020151516821339307,
 (0, 0, 48, 22, 20118): 0.02111995883932332,
 (0, 0, 48, 22, 20207): 0.006395236665412008,
 (0, 0, 48, 22, 20264): 0.005727151376216704,
 (0, 0, 48, 22, 20322): 0.0019267093593931415,
 (0, 0, 48, 22, 20379): 0.0022287929511443216,
 (0, 0, 48, 22, 20384): 0.0024907200715661745,
 (0, 0, 48, 22, 20396): 0.002051053853868912,
 (0, 0, 48, 22, 20440): 0.011839586601716495,
 (0, 0, 48, 22, 20459): 0.005327772871433916,
 (0, 0, 48, 22, 20522): 0.00436784428785489,
 (0, 0, 48, 22, 20547): 0.004224069131325383,
 (0, 0, 48, 22, 20580): 0.00549502991052712,
 (0, 0, 49, 18, 20328): 1.0,
 (0, 0, 49, 19, 20232): 1.0,
 (0, 0, 49, 20, 20023): 0.885050838950671,
 (0, 0, 49, 20, 20100): 0.0067390462646862055,
 (0, 0, 49, 20, 20211): 0.0787128617082427,
 (0, 0, 49, 20, 20375): 0.0214283299107135,
 (0, 0, 49, 20, 20684): 0.0037562658178491304,
 (0, 0, 49, 20, 21144): 0.0017769152875694498,
 (0, 0, 49, 20, 21146): 0.001930683983878669,
 (0, 0, 49, 20, 21154): 0.0006050580763892785,
 (0, 0, 68, 19, 20224): 1.0,
 (0, 0, 68, 22, 20146): 0.75273119633143,
 (0, 0, 68, 22, 20289): 0.24726880366856985,
 (0, 5, 5, 11, 20086): 0.4900518521677295,
 (0, 5, 5, 11, 20096): 0.5099481478322705,
 (0, 5, 13, 11, 20558): 0.4279279279279279,
 (0, 5, 13, 11, 20689): 0.2837837837837838,
 (0, 5, 13, 11, 20817): 0.16756756756756755,
 (0, 5, 13, 11, 20835): 0.12072072072072071,
 (0, 5, 30, 11, 20962): 0.3804726539219731,
 (0, 5, 30, 11, 20975): 0.32290568315530493,
 (0, 5, 30, 11, 20995): 0.2966216629227219,
 (0, 12, 9, 16, 20614): 0.2196856872384536,
 (0, 12, 9, 16, 20664): 0.29097768825686865,
 (0, 12, 9, 16, 20715): 0.15948713562909245,
 (0, 12, 9, 16, 20759): 0.1465328178344525,
 (0, 12, 9, 16, 20843): 0.07610293069567774,
 (0, 12, 9, 16, 20863): 0.10721374034545501,
 (0, 12, 16, 16, 20037): 0.31293722963913334,
 (0, 12, 16, 16, 20090): 0.17765651703231794,
 (0, 12, 16, 16, 20152): 0.11815089302261132,
 (0, 12, 16, 16, 20192): 0.10593847407500974,
 (0, 12, 16, 16, 20249): 0.039506950367693985,
 (0, 12, 16, 16, 20271): 0.04122795664379678,
 (0, 12, 16, 16, 20278): 0.030982458446502957,
 (0, 12, 16, 16, 20323): 0.12052757246909439,
 (0, 12, 16, 16, 20555): 0.008852279125964653,
 (0, 12, 16, 16, 20567): 0.03471176626194642,
 (0, 12, 16, 16, 20647): 0.009507902915928408,
 (0, 12, 16, 17, 20142): 0.47221288166060976,
 (0, 12, 16, 17, 20240): 0.25679663992371793,
 (0, 12, 16, 17, 20259): 0.16355494407766297,
 (0, 12, 16, 17, 20285): 0.0569932127006379,
 (0, 12, 16, 17, 20565): 0.050442321637371515,
 (0, 12, 17, 16, 20781): 0.24183102486454744,
 (0, 12, 17, 16, 20812): 0.26283427845698465,
 (0, 12, 17, 16, 20846): 0.19076020716473147,
 (0, 12, 17, 16, 20947): 0.15545889992386663,
 (0, 12, 17, 16, 20970): 0.14911558958986984,
 (0, 12, 27, 16, 20617): 0.39124237299755477,
 (0, 12, 27, 16, 20800): 0.18889542722639915,
 (0, 12, 27, 16, 20828): 0.13602059005004685,
 (0, 12, 27, 16, 20852): 0.08484254667611235,
 (0, 12, 27, 16, 20925): 0.15200015996709249,
 (0, 12, 27, 16, 20936): 0.046998903082794405,
 (0, 12, 61, 16, 20079): 0.6244412781881455,
 (0, 12, 61, 16, 20216): 0.20757238488193563,
 (0, 12, 61, 16, 20228): 0.1136448679919983,
 (0, 12, 61, 16, 20409): 0.0543414689379205,
 (0, 12, 62, 16, 20052): 1.0,
 (0, 12, 63, 27, 20460): 1.0,
 (0, 12, 69, 27, 20237): 1.0,
 (0, 12, 70, 16, 20948): 0.5532303296470713,
 (0, 12, 70, 16, 21032): 0.23330599502619187,
 (0, 12, 70, 16, 21088): 0.10663262606487116,
 (0, 12, 70, 16, 21131): 0.10683104926186571,
 (0, 12, 71, 16, 20077): 1.0,
 (0, 12, 72, 16, 20641): 0.3411794383878839,
 (0, 12, 72, 16, 20660): 0.035542606748501605,
 (0, 12, 72, 16, 20721): 0.016155730340228002,
 (0, 12, 72, 16, 20730): 0.24748554548752932,
 (0, 12, 72, 16, 20847): 0.15967155984160378,
 (0, 12, 72, 16, 21016): 0.07073640543953708,
 (0, 12, 72, 16, 21024): 0.06138243221989856,
 (0, 12, 72, 16, 21038): 0.06784628153481774,
 (0, 12, 74, 16, 20234): 0.14387734236649907,
 (0, 12, 74, 16, 20265): 0.13587973796775732,
 (0, 12, 74, 16, 20302): 0.06994698634133341,
 (0, 12, 74, 16, 20305): 0.076176083815179,
 (0, 12, 74, 16, 20350): 0.036780136215691955,
 (0, 12, 74, 16, 20398): 0.031081679853058708,
 (0, 12, 74, 16, 20416): 0.025478489595961905,
 (0, 12, 74, 16, 20418): 0.015631357565746226,
 (0, 12, 74, 16, 20422): 0.027482045603676973,
 (0, 12, 74, 16, 20428): 0.049162652481414944,
 (0, 12, 74, 16, 20429): 0.02952032477135393,
 (0, 12, 74, 16, 20449): 0.03230915839666847,
 (0, 12, 74, 16, 20490): 0.014429105249459192,
 (0, 12, 74, 16, 20509): 0.03276412082591262,
 (0, 12, 74, 16, 20561): 0.011162160421592583,
 (0, 12, 74, 16, 20586): 0.010037367462143594,
 (0, 12, 74, 16, 20597): 0.006928605918547777,
 (0, 12, 74, 16, 20601): 0.01699772874920352,
 (0, 12, 74, 16, 20636): 0.011071049224085763,
 (0, 12, 74, 16, 20663): 0.005192151141308719,
 (0, 12, 74, 16, 20670): 0.025145503395301805,
 (0, 12, 74, 16, 20678): 0.011604064568457898,
 (0, 12, 74, 16, 20685): 0.02822814837413997,
 (0, 12, 74, 16, 20729): 0.010678113636141053,
 (0, 12, 74, 16, 20765): 0.0077126964195673615,
 (0, 12, 74, 16, 20773): 0.00542987123643237,
 (0, 12, 74, 16, 20907): 0.10322038018002029,
 (0, 12, 74, 16, 20987): 0.005023283807818884,
 (0, 12, 74, 16, 20991): 0.004287271528284981,
 (0, 12, 74, 16, 21064): 0.009722188010181898,
 (0, 12, 74, 16, 21099): 0.005055335955476005,
 (0, 12, 74, 16, 21182): 0.0019848589215817497,
 (1, 4, 6, 21, 20027): 0.5691396984818519,
 (1, 4, 6, 21, 20068): 0.3406484461328397,
 (1, 4, 6, 21, 20246): 0.09021185538530838,
 (1, 4, 10, 1, 20491): 0.8341958488892305,
 (1, 4, 10, 1, 20757): 0.16580415111076963,
 (1, 4, 10, 21, 20076): 0.41949349535632074,
 (1, 4, 10, 21, 20137): 0.2301006863263845,
 (1, 4, 10, 21, 20253): 0.0935620250504075,
 (1, 4, 10, 21, 20281): 0.060112215482158,
 (1, 4, 10, 21, 20357): 0.11228901384509753,
 (1, 4, 10, 21, 20366): 0.0634040452844895,
 (1, 4, 10, 21, 20653): 0.021038518655142207,
 (1, 4, 21, 21, 20013): 0.44941080736860917,
 (1, 4, 21, 21, 20057): 0.19972934877202633,
 (1, 4, 21, 21, 20065): 0.110180223686601,
 (1, 4, 21, 21, 20092): 0.06704308086958267,
 (1, 4, 21, 21, 20114): 0.06239148982547287,
 (1, 4, 21, 21, 20166): 0.047366423229003404,
 (1, 4, 21, 21, 20205): 0.04115859398180435,
 (1, 4, 21, 21, 20209): 0.022720032266900208,
 (1, 4, 29, 21, 21155): 0.47075437682785143,
 (1, 4, 29, 21, 21184): 0.31765554264652857,
 (1, 4, 29, 21, 21212): 0.21159008052561998,
 (1, 4, 31, 21, 20160): 0.5981116091664149,
 (1, 4, 31, 21, 20510): 0.1257140704616459,
 (1, 4, 31, 21, 20593): 0.11330275756635286,
 (1, 4, 31, 21, 20681): 0.12228755706989482,
 (1, 4, 31, 21, 20785): 0.040584005735691486,
 (1, 4, 42, 1, 20062): 0.5856452480697334,
 (1, 4, 42, 1, 20117): 0.23195322478872993,
 (1, 4, 42, 1, 20138): 0.18240152714153676,
 (1, 4, 54, 21, 20197): 0.19192449326937955,
 (1, 4, 54, 21, 20201): 0.17994388570839137,
 (1, 4, 54, 21, 20206): 0.16115199339831865,
 (1, 4, 54, 21, 20254): 0.12012632592363369,
 (1, 4, 54, 21, 20319): 0.08122626231368302,
 (1, 4, 54, 21, 20341): 0.05818990149053588,
 (1, 4, 54, 21, 20390): 0.06375367476404147,
 (1, 4, 54, 21, 20415): 0.03341454776763458,
 (1, 4, 54, 21, 20447): 0.04576938814104217,
 (1, 4, 54, 21, 20478): 0.036824384960544645,
 (1, 4, 54, 21, 20508): 0.027675142262795056,
 (1, 4, 56, 21, 20803): 0.42202651193782154,
 (1, 4, 56, 21, 20941): 0.33957711679572233,
 (1, 4, 56, 21, 21048): 0.18645267292148646,
 (1, 4, 56, 21, 21167): 0.04366647767012792,
 (1, 4, 56, 21, 21180): 0.008277220674841802,
 (1, 4, 64, 24, 20657): 0.7327615990397391,
 (1, 4, 64, 24, 20741): 0.2672384009602609,
 (1, 4, 77, 1, 20239): 0.48334517885617445,
 (1, 4, 77, 1, 20421): 0.28751848959485427,
 (1, 4, 77, 1, 20750): 0.03301727106082668,
 (1, 4, 77, 1, 20855): 0.030545820534077596,
 (1, 4, 77, 1, 20877): 0.019554730162516083,
 (1, 4, 77, 1, 20996): 0.005408627259385212,
 (1, 4, 77, 1, 21003): 0.010607112699490466,
 (1, 4, 77, 1, 21033): 0.030463350689669103,
 (1, 4, 77, 1, 21042): 0.038902203748122186,
 (1, 4, 77, 1, 21044): 0.042534243018194334,
 (1, 4, 77, 1, 21073): 0.01810297237668955,
 (1, 4, 83, 21, 20053): 0.6581317986290577,
 (1, 4, 83, 21, 20129): 0.23796922731593032,
 (1, 4, 83, 21, 20219): 0.10389897405501197,
 (1, 8, 6, 21, 20395): 1.0,
 (1, 8, 10, 21, 20604): 1.0,
 (1, 8, 21, 21, 20313): 1.0,
 (1, 8, 31, 21, 20479): 0.8788387918147176,
 (1, 8, 31, 21, 20886): 0.12116120818528228,
 (1, 8, 33, 25, 20203): 0.6828717131750058,
 (1, 8, 33, 25, 20262): 0.31712828682499417,
 (1, 8, 39, 13, 20928): 1.0,
 (1, 8, 53, 15, 20576): 1.0,
 (1, 8, 54, 21, 20845): 0.4808702370363637,
 (1, 8, 54, 21, 20953): 0.5191297629636362,
 (1, 8, 60, 15, 20164): 1.0,
 (1, 8, 67, 8, 20218): 1.0,
 (1, 8, 67, 34, 20513): 1.0,
 (1, 8, 83, 21, 20638): 1.0,
 (1, 9, 0, 8, 20007): 0.29795331240853185,
 (1, 9, 0, 8, 20012): 0.1321212461430686,
 (1, 9, 0, 8, 20014): 0.2075936342436945,
 (1, 9, 0, 8, 20049): 0.09527590302710286,
 (1, 9, 0, 8, 20051): 0.10108488665620595,
 (1, 9, 0, 8, 20074): 0.07484467305466982,
 (1, 9, 0, 8, 20087): 0.06839967149261289,
 (1, 9, 0, 8, 20358): 0.00833341231759843,
 (1, 9, 0, 8, 20426): 0.0061456321190101635,
 (1, 9, 0, 8, 20520): 0.005333383883262996,
 (1, 9, 0, 8, 20530): 0.0020662207436367794,
 (1, 9, 0, 8, 20733): 0.0008480239106051356,
 (1, 9, 20, 34, 20304): 0.2964026081544105,
 (1, 9, 20, 34, 20473): 0.33297176110852605,
 (1, 9, 20, 34, 20588): 0.030245164097388817,
 (1, 9, 20, 34, 20666): 0.1099824148995957,
 (1, 9, 20, 34, 20705): 0.05196669104005897,
 (1, 9, 20, 34, 20724): 0.07410065203860262,
 (1, 9, 20, 34, 20737): 0.10433070866141732,
 (1, 9, 26, 34, 20055): 0.5082549061872496,
 (1, 9, 26, 34, 20056): 0.4917450938127505,
 (1, 10, 47, 0, 20001): 0.7950569075805868,
 (1, 10, 47, 0, 20045): 0.07920490893752526,
 (1, 10, 47, 0, 20102): 0.010133377714969312,
 (1, 10, 47, 0, 20135): 0.05338379838712601,
 (1, 10, 47, 0, 20150): 0.02713367510137911,
 (1, 10, 47, 0, 20261): 0.02311466278800081,
 (1, 10, 47, 0, 20378): 0.004058889631788366,
 (1, 10, 47, 0, 20611): 0.004858892996552691,
 (1, 10, 47, 0, 20682): 0.0028272897223876044,
 (1, 10, 47, 0, 20919): 0.00022759713968401672,
 (1, 10, 47, 15, 20002): 0.5863753677989405,
 (1, 10, 47, 15, 20026): 0.12678949860398137,
 (1, 10, 47, 15, 20085): 0.11948742189695756,
 (1, 10, 47, 15, 20126): 0.051207203266789965,
 (1, 10, 47, 15, 20168): 0.008173252265144896,
 (1, 10, 47, 15, 20174): 0.04913898036397332,
 (1, 10, 47, 15, 20180): 0.019930085709036413,
 (1, 10, 47, 15, 20222): 0.011332298427326989,
 (1, 10, 47, 15, 20280): 0.009181364512848266,
 (1, 10, 47, 15, 20288): 0.011390762929995604,
 (1, 10, 47, 15, 20332): 0.006993764225005102,
 (1, 10, 47, 25, 20009): 0.567813784105624,
 (1, 10, 47, 25, 20015): 0.34098097282120976,
 (1, 10, 47, 25, 20151): 0.05139988567923553,
 (1, 10, 47, 25, 20236): 0.03980535739393069,
 (1, 10, 47, 26, 20032): 0.6142580654246537,
 (1, 10, 47, 26, 20089): 0.11910022392917317,
 (1, 10, 47, 26, 20127): 0.19822977127941058,
 (1, 10, 47, 26, 20210): 0.06841193936676261,
 (1, 10, 60, 0, 20649): 0.6490346201116166,
 (1, 10, 60, 0, 20691): 0.3509653798883834,
 (1, 10, 60, 15, 20010): 0.12129387202715272,
 (1, 10, 60, 15, 20011): 0.13235162376328014,
 (1, 10, 60, 15, 20016): 0.09215164820487369,
 (1, 10, 60, 15, 20020): 0.08974383653638164,
 (1, 10, 60, 15, 20021): 0.0687311325575434,
 (1, 10, 60, 15, 20022): 0.07111497890321332,
 (1, 10, 60, 15, 20024): 0.09122344646025958,
 (1, 10, 60, 15, 20025): 0.08157125331834975,
 (1, 10, 60, 15, 20030): 0.03466023181277301,
 (1, 10, 60, 15, 20031): 0.047193900013455324,
 (1, 10, 60, 15, 20035): 0.0607073569604747,
 (1, 10, 60, 15, 20041): 0.038153532624685425,
 (1, 10, 60, 15, 20043): 0.03162957810059392,
 (1, 10, 60, 15, 20050): 0.03947360871696337,
 (1, 10, 60, 25, 20028): 0.13066061499867915,
 (1, 10, 60, 25, 20038): 0.18742749929202737,
 (1, 10, 60, 25, 20066): 0.14178035880321274,
 (1, 10, 60, 25, 20067): 0.10518783933285056,
 (1, 10, 60, 25, 20069): 0.16241304416947008,
 (1, 10, 60, 25, 20071): 0.12453295051798637,
 (1, 10, 60, 25, 20072): 0.03835514998471136,
 (1, 10, 60, 25, 20091): 0.10964254290106241,
 (1, 11, 44, 15, 20039): 0.6194866176663285,
 (1, 11, 44, 15, 20082): 0.38051338233367143,
 (1, 14, 22, 12, 20311): 0.7198490187446731,
 (1, 14, 22, 12, 20524): 0.13379695430265276,
 (1, 14, 22, 12, 20652): 0.14635402695267413,
 (1, 14, 22, 15, 20006): 0.4286066871235536,
 (1, 14, 22, 15, 20018): 0.14549691158945202,
 (1, 14, 22, 15, 20029): 0.15475560984975373,
 (1, 14, 22, 15, 20109): 0.06352914274302877,
 (1, 14, 22, 15, 20148): 0.05872174350120945,
 (1, 14, 22, 15, 20162): 0.05283857539776338,
 (1, 14, 22, 15, 20286): 0.0519376361827823,
 (1, 14, 22, 15, 20442): 0.024439117750782027,
 (1, 14, 22, 15, 20548): 0.012573969253444844,
 (1, 14, 22, 15, 20620): 0.007100606608229865,
 (1, 14, 31, 21, 20042): 0.1697065193387438,
 (1, 14, 31, 21, 20063): 0.14145353091917962,
 (1, 14, 31, 21, 20070): 0.09351988751241123,
 (1, 14, 31, 21, 20073): 0.16734175325077966,
 (1, 14, 31, 21, 20103): 0.08744364368359851,
 (1, 14, 31, 21, 20112): 0.14628905378394136,
 (1, 14, 31, 21, 20124): 0.052070860206876,
 (1, 14, 31, 21, 20144): 0.05644006229962438,
 (1, 14, 31, 21, 20183): 0.0279777842860339,
 (1, 14, 31, 21, 20202): 0.0334507133185656,
 (1, 14, 31, 21, 20408): 0.01609144161191984,
 (1, 14, 31, 21, 20477): 0.00821474978832606,
 (1, 14, 53, 12, 20196): 0.8410198398886182,
 (1, 14, 53, 12, 20388): 0.1589801601113818,
 (1, 14, 53, 15, 20008): 0.34002954208206393,
 (1, 14, 53, 15, 20017): 0.37751746573916123,
 (1, 14, 53, 15, 20097): 0.0962309418126385,
 (1, 14, 53, 15, 20099): 0.10064533692998874,
 (1, 14, 53, 15, 20233): 0.061951941494083604,
 (1, 14, 53, 15, 20361): 0.02362477194206391,
 (2, 1, 0, 2, 20824): 0.29530505316685024,
 (2, 1, 0, 2, 21079): 0.7046949468331497,
 (2, 1, 0, 23, 20340): 1.0,
 (2, 1, 0, 28, 20372): 0.061943866285221055,
 (2, 1, 0, 28, 20381): 0.24190965626192595,
 (2, 1, 0, 28, 20438): 0.21623008837567212,
 (2, 1, 0, 28, 20443): 0.10629522078509306,
 (2, 1, 0, 28, 20474): 0.12822674946464646,
 (2, 1, 0, 28, 20480): 0.06929967217940323,
 (2, 1, 0, 28, 20589): 0.08959415679943805,
 (2, 1, 0, 28, 20602): 0.04337794823014204,
 (2, 1, 0, 28, 20677): 0.030481112159169987,
 (2, 1, 0, 28, 20771): 0.012641529459287959,
 (2, 1, 0, 29, 20059): 0.23774644085691268,
 (2, 1, 0, 29, 20061): 0.22695313003860373,
 (2, 1, 0, 29, 20080): 0.018856292052436604,
 (2, 1, 0, 29, 20094): 0.12606638375242613,
 (2, 1, 0, 29, 20159): 0.13172449089348245,
 (2, 1, 0, 29, 20170): 0.1373262269688005,
 (2, 1, 0, 29, 20257): 0.11037872550862148,
 (2, 1, 0, 29, 20551): 0.010948309928716399,
 (2, 1, 0, 30, 20145): 0.10035830756923397,
 (2, 1, 0, 30, 20155): 0.09397438428131627,
 (2, 1, 0, 30, 20167): 0.06727871981487099,
 (2, 1, 0, 30, 20184): 0.04009401895371588,
 (2, 1, 0, 30, 20187): 0.030669693112824126,
 (2, 1, 0, 30, 20188): 0.0351158816038209,
 (2, 1, 0, 30, 20193): 0.03824416495581919,
 (2, 1, 0, 30, 20198): 0.034379128138397774,
 (2, 1, 0, 30, 20215): 0.03550226254701692,
 (2, 1, 0, 30, 20226): 0.017379793473371676,
 (2, 1, 0, 30, 20230): 0.027891122563367537,
 (2, 1, 0, 30, 20251): 0.022701123140545548,
 (2, 1, 0, 30, 20252): 0.018726787647801377,
 (2, 1, 0, 30, 20269): 0.02934997758027032,
 (2, 1, 0, 30, 20282): 0.01967606290583692,
 (2, 1, 0, 30, 20284): 0.01810006928897775,
 (2, 1, 0, 30, 20291): 0.014963194238750838,
 (2, 1, 0, 30, 20292): 0.015043419220960651,
 (2, 1, 0, 30, 20303): 0.028211147980065663,
 (2, 1, 0, 30, 20306): 0.04951107253574984,
 (2, 1, 0, 30, 20324): 0.01681120715845568,
 (2, 1, 0, 30, 20327): 0.018258064482474915,
 (2, 1, 0, 30, 20338): 0.012484642722974285,
 (2, 1, 0, 30, 20348): 0.017990678559745395,
 (2, 1, 0, 30, 20364): 0.047118407317623026,
 (2, 1, 0, 30, 20383): 0.011406154460507478,
 (2, 1, 0, 30, 20403): 0.016804901465648597,
 (2, 1, 0, 30, 20450): 0.009578163266138992,
 (2, 1, 0, 30, 20527): 0.011876058984340371,
 (2, 1, 0, 30, 20537): 0.0185132686045017,
 (2, 1, 0, 30, 20540): 0.009885055658401936,
 (2, 1, 0, 30, 20553): 0.010813403994323467,
 (2, 1, 0, 30, 20603): 0.01181984473021592,
 (2, 1, 0, 30, 20623): 0.015663755175385867,
 (2, 1, 0, 30, 20633): 0.010630170687279705,
 (2, 1, 0, 30, 20746): 0.006541427527230391,
 (2, 1, 0, 30, 20795): 0.005466099782326257,
 (2, 1, 0, 30, 20822): 0.009087960855240962,
 (2, 1, 0, 30, 21086): 0.000971199430836814,
 (2, 1, 0, 30, 21093): 0.0004420121892263848,
 (2, 1, 0, 30, 21105): 0.000667191394407768,
 (2, 1, 0, 33, 21246): 0.4054002297970126,
 (2, 1, 0, 33, 21256): 0.24339333588663345,
 (2, 1, 0, 33, 21262): 0.35120643431635384,
 (2, 1, 1, 23, 20783): 1.0,
 (2, 1, 2, 23, 20212): 0.12020731319371342,
 (2, 1, 2, 23, 20256): 0.09423422203499976,
 (2, 1, 2, 23, 20290): 0.11524325789387874,
 (2, 1, 2, 23, 20330): 0.07371943281711127,
 (2, 1, 2, 23, 20335): 0.06295566117605264,
 (2, 1, 2, 23, 20343): 0.06391203831237081,
 (2, 1, 2, 23, 20368): 0.055631469953849474,
 (2, 1, 2, 23, 20401): 0.04897332804868658,
 (2, 1, 2, 23, 20417): 0.03948175121593811,
 (2, 1, 2, 23, 20434): 0.04413704263950043,
 (2, 1, 2, 23, 20469): 0.03973189377475274,
 (2, 1, 2, 23, 20571): 0.03912264888839393,
 (2, 1, 2, 23, 20662): 0.06146447807335616,
 (2, 1, 2, 23, 20673): 0.04890599636227204,
 (2, 1, 2, 23, 20703): 0.05058266222968665,
 (2, 1, 2, 23, 20815): 0.033854051302149385,
 (2, 1, 2, 23, 20879): 0.0078427520832878,
 (2, 1, 24, 28, 20532): 0.6484006308571986,
 (2, 1, 24, 28, 20578): 0.35159936914280143,
 (2, 1, 50, 23, 20351): 0.632305812589161,
 (2, 1, 50, 23, 20541): 0.36769418741083904,
 (2, 1, 51, 29, 20465): 0.29155681513159953,
 (2, 1, 51, 29, 20497): 0.4566008902297043,
 (2, 1, 51, 29, 20927): 0.2518422946386962,
 (2, 1, 55, 28, 20380): 0.5252592650787006,
 (2, 1, 55, 28, 20404): 0.3320802800697807,
 (2, 1, 55, 28, 20629): 0.08344409204937166,
 (2, 1, 55, 28, 20931): 0.05147347656094456,
 (2, 1, 55, 28, 21077): 0.007742886241202529,
 (2, 1, 55, 30, 20353): 0.4828107571648827,
 (2, 1, 55, 30, 20640): 0.1984455502383989,
 (2, 1, 55, 30, 20655): 0.18772214610692697,
 (2, 1, 55, 30, 21007): 0.13102154648979136,
 (2, 1, 66, 2, 20470): 0.22335254629304693,
 (2, 1, 66, 2, 20482): 0.15349644912974794,
 (2, 1, 66, 2, 20560): 0.13935154641290298,
 (2, 1, 66, 2, 20579): 0.08371026799163382,
 (2, 1, 66, 2, 20596): 0.1214292887137719,
 (2, 1, 66, 2, 20606): 0.06328453068800607,
 (2, 1, 66, 2, 20713): 0.03962807913954158,
 (2, 1, 66, 2, 20745): 0.03517612899533641,
 (2, 1, 66, 2, 20910): 0.1405711626360123,
 (2, 1, 66, 23, 20189): 0.17692684816851462,
 (2, 1, 66, 23, 20244): 0.14363468843996946,
 (2, 1, 66, 23, 20275): 0.08109318417617815,
 (2, 1, 66, 23, 20298): 0.061260700460071066,
 (2, 1, 66, 23, 20309): 0.04403303166738009,
 (2, 1, 66, 23, 20334): 0.0010113551648972474,
 (2, 1, 66, 23, 20342): 0.06501441745627674,
 (2, 1, 66, 23, 20365): 0.05918593508502451,
 (2, 1, 66, 23, 20377): 0.03932739670601753,
 (2, 1, 66, 23, 20400): 0.05289552525277637,
 (2, 1, 66, 23, 20406): 0.05577950503305523,
 (2, 1, 66, 23, 20615): 0.07636214591848821,

#### Paso 4: Agrupar ventas por periodo, cat1, cat2, cat3, brand, customer_id y product_id

Aplico escalado

In [65]:
scalers = {}
scaled_df = df_full.copy()

for col in ['cust_request_qty', 'cust_request_tn', 'tn']:
    scaler = StandardScaler()
    scaled_df[col] = scaler.fit_transform(scaled_df[[col]])
    scalers[col] = scaler

joblib.dump(scalers, 'scalers.pkl')

['scalers.pkl']

In [67]:
df_full

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,10001,20001,201812,0.0,20.0,254.62373,254.62373,1,10,47,0,3000,384,3,12,1.0,23.0,2018-12-01
1,10001,20001,201901,0.0,53.0,393.26092,386.60688,1,10,47,0,3000,384,0,1,0.0,24.0,2018-12-01
2,10001,20001,201902,0.0,39.0,309.90610,309.90610,1,10,47,0,3000,384,0,2,0.0,25.0,2018-12-01
3,10001,20001,201903,0.0,23.0,142.87158,130.54927,1,10,47,0,3000,384,0,3,1.0,26.0,2018-12-01
4,10001,20001,201904,0.0,33.0,364.37071,364.37071,1,10,47,0,3000,384,1,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,10618,20845,201912,0.0,0.0,0.00000,0.00000,1,8,54,21,5000,260,3,12,0.0,0.0,2019-11-01
2040579,10618,20886,201911,0.0,1.0,0.01884,0.01884,1,8,31,21,5000,158,3,11,0.0,4.0,2019-11-01
2040580,10618,20886,201912,0.0,0.0,0.00000,0.00000,1,8,31,21,5000,158,3,12,0.0,0.0,2019-11-01
2040581,10618,20953,201911,0.0,1.0,0.01817,0.01817,1,8,54,21,5000,256,3,11,0.0,4.0,2019-11-01
2040582,10618,20953,201912,0.0,0.0,0.00000,0.00000,1,8,54,21,5000,256,3,12,0.0,0.0,2019-11-01

In [66]:
display(scaled_df)

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,10001,20001,201812,0.0,7.566192,112.767975,117.729042,1,10,47,0,3000,384,3,12,1.0,23.0,2018-12-01
1,10001,20001,201901,0.0,20.632564,174.214121,178.798380,1,10,47,0,3000,384,0,1,0.0,24.0,2018-12-01
2,10001,20001,201902,0.0,15.089255,137.269976,143.308502,1,10,47,0,3000,384,0,2,0.0,25.0,2018-12-01
3,10001,20001,201903,0.0,8.754044,63.237695,60.319099,1,10,47,0,3000,384,0,3,1.0,26.0,2018-12-01
4,10001,20001,201904,0.0,12.713551,161.409533,168.509580,1,10,47,0,3000,384,1,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,10618,20845,201912,0.0,-0.352821,-0.085197,-0.086775,1,8,54,21,5000,260,3,12,0.0,0.0,2019-11-01
2040579,10618,20886,201911,0.0,0.043130,-0.076847,-0.078058,1,8,31,21,5000,158,3,11,0.0,4.0,2019-11-01
2040580,10618,20886,201912,0.0,-0.352821,-0.085197,-0.086775,1,8,31,21,5000,158,3,12,0.0,0.0,2019-11-01
2040581,10618,20953,201911,0.0,0.043130,-0.077144,-0.078368,1,8,54,21,5000,256,3,11,0.0,4.0,2019-11-01
2040582,10618,20953,201912,0.0,-0.352821,-0.085197,-0.086775,1,8,54,21,5000,256,3,12,0.0,0.0,2019-11-01

In [69]:
scaled_df.dtypes

customer_id                int64
product_id                 int64
periodo                    int64
plan_precios_cuidados    float64
cust_request_qty         float64
cust_request_tn          float64
tn                       float64
cat1                       int64
cat2                       int64
cat3                       int64
brand                      int64
sku_size                   int64
descripcion                int64
quarter                    int64
month                      int64
close_quarter            float64
age                      float64
mes_inicial               object
dtype: object

Agrupo y sumarizo

In [77]:
grouped_df = scaled_df.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'product_id', 'quarter', 'month']).agg({
    'cust_request_qty': 'sum',
    'cust_request_tn': 'sum',
    'tn': 'sum'
}).reset_index()

In [78]:
display(grouped_df[(grouped_df["customer_id"] == 10001) & (grouped_df["product_id"] == 20001)])

,periodo,cat1,cat2,cat3,brand,customer_id,product_id,quarter,month,cust_request_qty,cust_request_tn,tn
15840,201812,1,10,47,0,10001,20001,3,12,7.566192,112.767975,117.729042
80495,201901,1,10,47,0,10001,20001,0,1,20.632564,174.214121,178.798380
175202,201902,1,10,47,0,10001,20001,0,2,15.089255,137.269976,143.308502
294172,201903,1,10,47,0,10001,20001,0,3,8.754044,63.237695,60.319099
431929,201904,1,10,47,0,10001,20001,1,4,12.713551,161.409533,168.509580
583070,201905,1,10,47,0,10001,20001,1,5,11.921650,194.888150,203.460397
744214,201906,1,10,47,0,10001,20001,1,6,2.418834,29.133498,30.416793
916759,201907,1,10,47,0,10001,20001,2,7,5.190488,64.086701,66.907040
1099078,201908,1,10,47,0,10001,20001,2,8,3.210735,14.824531,15.478599
1288478,201909,1,10,47,0,10001,20001,2,9,6.774291,49.340821,50.372396
1485389,201910,1,10,47,0,10001,20001,3,10,7.962143,79.026218,81.363193
1687214,201911,1,10,47,0,10001,20001,3,11,7.962143,106.551865,109.415070
1892409,201912,1,10,47,0,10001,20001,3,12,6.774291,95.082845,83.301735

Aplico DTW para agrupar los registros (series de categorias/clientes similares)

In [79]:
from tslearn.clustering import TimeSeriesKMeans
import matplotlib.pyplot as plt

pivoted_df = grouped_df.pivot_table(index=['cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'product_id'], columns='periodo', values='tn').fillna(0)

inertia = []
max_clusters = 15

for k in range(4, max_clusters + 1):
    print(f"Running K: {k}")
    model = TimeSeriesKMeans(n_clusters=k, metric="dtw", random_state=0)
    model.fit(pivoted_df.values)
    inertia.append(model.inertia_)

In [ ]:
plt.plot(range(4, max_clusters + 1), inertia, marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Inertia')
plt.title('Elbow Method for Optimal k')
plt.show()

In [88]:
# Debug de los valores
max_value = pivoted_df[201812].max()
min_value = pivoted_df[201812].min()

print(f"Máximo valor de la columna 'nombre_de_la_columna': {max_value}")
print(f"Mínimo valor de la columna 'nombre_de_la_columna': {min_value}")

Máximo valor de la columna 'nombre_de_la_columna': 132.775343206
Mínimo valor de la columna 'nombre_de_la_columna': -0.08672881487933946

In [89]:
n_clusters = 15
model = TimeSeriesKMeans(n_clusters=n_clusters, metric="dtw", random_state=0)
cluster_labels = model.fit_predict(pivoted_df.values)

pivoted_df['cluster'] = cluster_labels

grouped_df = grouped_df.merge(pivoted_df['cluster'], left_on=['cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'product_id'], right_index=True)

grouped_df.to_csv('grouped_with_clusters_normalized.csv', index=False)

display(grouped_df)

,periodo,cat1,cat2,cat3,brand,customer_id,product_id,quarter,month,cust_request_qty,cust_request_tn,tn,cluster
0,201812,0,0,4,22,10001,20609,3,12,2.022883,0.302771,0.318254,0
1,201812,0,0,4,22,10002,20609,3,12,2.814785,0.037928,0.041765,0
2,201812,0,0,4,22,10003,20609,3,12,0.043130,0.035605,0.039340,0
3,201812,0,0,4,22,10004,20609,3,12,0.043130,-0.024796,-0.023718,0
4,201812,0,0,4,22,10005,20609,3,12,2.418834,-0.057319,-0.057671,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,201912,3,13,82,32,10367,21222,3,12,-0.352821,-0.085197,-0.086775,0
2040579,201912,3,13,82,32,10482,21192,3,12,-0.352821,-0.085197,-0.086775,0
2040580,201912,3,13,82,32,10482,21222,3,12,-0.352821,-0.085197,-0.086775,0
2040581,201912,3,13,82,32,10513,21222,3,12,-0.352821,-0.085197,-0.086775,0
2040582,201912,3,13,82,32,10552,21192,3,12,-0.352821,-0.085197,-0.086775,0

#### Paso 5: Armar un modelo LSTM

In [90]:
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense
from keras.regularizers import l2

le_factor = 0.01

def build_lstm_model(input_shape):
    model = Sequential()
    model.add(LSTM(128, activation='tanh', return_sequences=True, kernel_regularizer=l2(le_factor), input_shape=input_shape))
    model.add(Dropout(0.1))
    model.add(LSTM(256, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    
    
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(256, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(128, activation='tanh', kernel_regularizer=l2(le_factor)))
    model.add(Dropout(0.1))

    model.add(Dense(128, activation='tanh', kernel_regularizer=l2(le_factor)))
    model.add(Dense(64, activation='tanh', kernel_regularizer=l2(le_factor))) 
    model.add(Dense(32, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='mean_squared_error')
    return model

#### Paso 6: Entrenar y predecir con el modelo LSTM para cada grupo

In [91]:
import pandas as pd

for i in range(0, 15):
    cluster_number = i

    # Filtrar el DataFrame por el cluster deseado
    cluster_data = grouped_df[grouped_df['cluster'] == cluster_number]

    unique_combinations = cluster_data[['customer_id', 'product_id']].drop_duplicates().shape[0]

    print(f"Cluster {cluster_number}:")
    print(f"  Número de registros: {len(cluster_data)}")
    print(f"  Número de combinaciones únicas 'customer_id' y 'product_id': {unique_combinations}")
    print()

Cluster 0:
  Número de registros: 1926903
  Número de combinaciones únicas 'customer_id' y 'product_id': 197234

Cluster 1:
  Número de registros: 2291
  Número de combinaciones únicas 'customer_id' y 'product_id': 180

Cluster 2:
  Número de registros: 13
  Número de combinaciones únicas 'customer_id' y 'product_id': 1

Cluster 3:
  Número de registros: 336
  Número de combinaciones únicas 'customer_id' y 'product_id': 28

Cluster 4:
  Número de registros: 65
  Número de combinaciones únicas 'customer_id' y 'product_id': 5

Cluster 5:
  Número de registros: 19812
  Número de combinaciones únicas 'customer_id' y 'product_id': 1644

Cluster 6:
  Número de registros: 13
  Número de combinaciones únicas 'customer_id' y 'product_id': 1

Cluster 7:
  Número de registros: 78
  Número de combinaciones únicas 'customer_id' y 'product_id': 6

Cluster 8:
  Número de registros: 364
  Número de combinaciones únicas 'customer_id' y 'product_id': 28

Cluster 9:
  Número de registros: 13
  Número de combinaciones únicas 'customer_id' y 'product_id': 1

Cluster 10:
  Número de registros: 3383
  Número de combinaciones únicas 'customer_id' y 'product_id': 291

Cluster 11:
  Número de registros: 82574
  Número de combinaciones únicas 'customer_id' y 'product_id': 7070

Cluster 12:
  Número de registros: 233
  Número de combinaciones únicas 'customer_id' y 'product_id': 18

Cluster 13:
  Número de registros: 104
  Número de combinaciones únicas 'customer_id' y 'product_id': 8

Cluster 14:
  Número de registros: 4401
  Número de combinaciones únicas 'customer_id' y 'product_id': 343

In [102]:
from keras.callbacks import ReduceLROnPlateau, EarlyStopping
import numpy as np

models = {}
predictions = []

reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=20, min_lr=0.00001, verbose=1)
scaler_tn = scalers['tn']

# Preparar los datos por cluster
for cluster in range(n_clusters):
    display(f'Entrenando cluster numero: {cluster}')
    cluster_data = grouped_df[grouped_df['cluster'] == cluster].copy()
    cluster_data.sort_values(by='periodo', inplace=True)
    
    X, y = [], []
    for key, data in cluster_data.groupby(['customer_id', 'product_id']):
        series = data[['cat1', 'cat2', 'cat3', 'brand', 'quarter', 'month', 'customer_id', 'product_id', 'tn']].values
        if len(series) > 2:  # Asegurarse de que haya suficientes datos
            X.append(series[:-2])  # Todos los datos excepto los últimos 2
            y.append(series[-1, -1])
            

    #Padleft para que todos los registros tengan el mismo shape
    max_len = max(len(seq) for seq in X)
    X_padded = np.array([np.pad(seq, ((max_len - len(seq), 0), (0, 0)), mode='constant') for seq in X]).astype(np.float32)
    y = np.array(y).astype(np.float32)
    
    # print(len((X_padded)))
    # print(len((y)))
    
    if len(X_padded) == 0 or len(y) == 0:
        continue
    
    validation_split = 0 if cluster in [2, 3, 4, 6, 7, 8, 9, 12, 13] else 0.2 #sino va a romper

    early_stopping = EarlyStopping(monitor='val_loss', patience=30, restore_best_weights=True, verbose=1)

    # Construir y entrenar el modelo
    model = build_lstm_model((X_padded.shape[1], X_padded.shape[2]))
    model.fit(X_padded, y, epochs=500, verbose=2, batch_size=256, validation_split=validation_split, callbacks=[reduce_lr, early_stopping])
    models[cluster] = model

'Entrenando cluster numero: 0'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/500

#### Paso 7: Sumarizar las predicciones y aplicar ratios

In [ ]:
scaler_tn = scalers['tn']

for cluster in range(8):
    if cluster not in models:
        continue

    model = models[cluster]
    cluster_data = grouped_df[grouped_df['cluster'] == cluster].copy()
    
    X_pred_data = []
    keys = []
    for key, data in cluster_data.groupby(['customer_id', 'product_id']):
        series = data[['cat1', 'cat2', 'cat3', 'brand', 'quarter', 'month', 'customer_id', 'product_id', 'tn']].values
        # if len(series) > 2:
        max_len = len(series) - 1
        X_pred = np.pad(series[1:], ((max_len - len(series[1:]), 0), (0, 0)), mode='constant').astype(np.float32)
        X_pred_data.append(X_pred)
        keys.append(key)
    
    if len(X_pred_data) == 0:
        continue
    
    max_len_pred = max(len(seq) for seq in X_pred_data)
    X_pred_padded = np.array([np.pad(seq, ((max_len_pred - len(seq), 0), (0, 0)), mode='constant') for seq in X_pred_data]).astype(np.float32)
    X_pred_padded = np.reshape(X_pred_padded, (X_pred_padded.shape[0], X_pred_padded.shape[1], X_pred_padded.shape[2]))
    
    preds = model.predict(X_pred_padded, verbose=0)
    
    for key, pred in zip(keys, preds):
        inverse_pred = scaler_tn.inverse_transform(pred)[0][0]
        predictions.append([key[0], key[1], inverse_pred])
    
    pred_df_temp = pd.DataFrame(predictions, columns=['customer_id', 'product_id', 'prediccion'])
    pred_df_temp.to_csv(f"predicciones_temprales_cluster_pID{cluster}.csv", index=False)

In [316]:

summarized_preds = pred_df_temp.groupby(['product_id'])['prediccion'].sum().reset_index()

final_predictions_df = pd.DataFrame(summarized_preds, columns=['product_id', 'prediccion'])

final_predictions_df.to_csv('predicciones_finales.csv', index=False)

display(final_predictions_df)