#### Imports

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import joblib
from sklearn.preprocessing import RobustScaler

2024-07-07 10:14:52.864978: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_csv('../../Datasets/final_dataset_descr.csv', sep='\t')

In [3]:
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age
0,201701,10001,20001,0,11,99.43861,99.43861,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
1,201701,10002,20001,0,17,38.68301,35.72806,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
2,201701,10003,20001,0,17,143.49426,143.49426,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
3,201701,10004,20001,0,9,184.72927,184.72927,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0
4,201701,10005,20001,0,23,19.08407,19.08407,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0,0

#### Paso 1: Completamos con 0 los meses de informacion faltante

In [ ]:
# product_ids = [20001, 20002, 20003, 20004, 20005, 20006, 20007, 20008, 20009, 20010, 20011, 20012]

In [ ]:
# filtered_df = df[df['product_id'].isin(product_ids)]

In [ ]:
# display(filtered_df)

In [ ]:
df['periodo'] = pd.to_datetime(df['periodo'], format='%Y%m')

df = df[df['periodo'] >= '2018-12-01']

product_info = df[['product_id', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size', 'descripcion']].drop_duplicates()

min_max_periods = df.groupby(['customer_id', 'product_id'])['periodo'].agg(['min', 'max']).reset_index()

all_dfs = []

cont = 1

for _, row in min_max_periods.iterrows():
    customer_id = row['customer_id']
    product_id = row['product_id']
    min_period = row['min']
    max_period = '2019-12-01'
    all_periods = pd.date_range(min_period, max_period, freq='MS')
    
    combinations = pd.DataFrame({
        'customer_id': [customer_id] * len(all_periods),
        'product_id': [product_id] * len(all_periods),
        'periodo': all_periods
    })
    
    merged_df = pd.merge(combinations, df, on=['customer_id', 'product_id', 'periodo'], how='left')
    
    merged_df['tn'] = merged_df['tn'].fillna(0)
    
    merged_df['tn'] = merged_df['tn'].fillna(0)
    merged_df['cat1'] = merged_df['product_id'].map(product_info.set_index('product_id')['cat1'])
    merged_df['cat2'] = merged_df['product_id'].map(product_info.set_index('product_id')['cat2'])
    merged_df['cat3'] = merged_df['product_id'].map(product_info.set_index('product_id')['cat3'])
    merged_df['brand'] = merged_df['product_id'].map(product_info.set_index('product_id')['brand'])
    merged_df['sku_size'] = merged_df['product_id'].map(product_info.set_index('product_id')['sku_size'])
    merged_df['descripcion'] = merged_df['product_id'].map(product_info.set_index('product_id')['descripcion'])
    
    merged_df['quarter'] = 'Q' + merged_df['periodo'].dt.to_period('Q').astype(str).str[-1]
    merged_df['month'] = merged_df['periodo'].dt.month.astype(str).str.zfill(2)
    
    merged_df['plan_precios_cuidados'] = merged_df['plan_precios_cuidados'].fillna(0)
    merged_df['cust_request_qty'] = merged_df['cust_request_qty'].fillna(0)
    merged_df['cust_request_tn'] = merged_df['cust_request_tn'].fillna(0)
    merged_df['close_quarter'] = merged_df['close_quarter'].fillna(0)
    merged_df['age'] = merged_df['age'].fillna(0)
    merged_df['mes_inicial'] = min_period
    
    all_dfs.append(merged_df)
    
    print(f"procesado {cont} de {len(min_max_periods)}")
    cont += 1

df_full = pd.concat(all_dfs, ignore_index=True)

df_full = df_full.sort_values(by=['customer_id', 'product_id', 'periodo'])

df_full['periodo'] = df_full['periodo'].dt.strftime('%Y%m')

display(df_full)

In [23]:
df_full.to_csv('final_dataset_completo_con_ceros.csv', sep='\t')

In [42]:
df_full = pd.read_csv("final_dataset_completo_con_ceros.csv", sep='\t')

In [45]:
display(df_full)

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,10001,20001,201812,0.0,20.0,254.62373,254.62373,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q4,12,1.0,23.0,2018-12-01
1,10001,20001,201901,0.0,53.0,393.26092,386.60688,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,1,0.0,24.0,2018-12-01
2,10001,20001,201902,0.0,39.0,309.90610,309.90610,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,2,0.0,25.0,2018-12-01
3,10001,20001,201903,0.0,23.0,142.87158,130.54927,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q1,3,1.0,26.0,2018-12-01
4,10001,20001,201904,0.0,33.0,364.37071,364.37071,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma,Q2,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,10618,20845,201912,0.0,0.0,0.00000,0.00000,HC,PROFESIONAL,PISOS,MUSCULO,5000,Profesional menta,Q4,12,0.0,0.0,2019-11-01
2040579,10618,20886,201911,0.0,1.0,0.01884,0.01884,HC,PROFESIONAL,Gel,MUSCULO,5000,Industrial 5L,Q4,11,0.0,4.0,2019-11-01
2040580,10618,20886,201912,0.0,0.0,0.00000,0.00000,HC,PROFESIONAL,Gel,MUSCULO,5000,Industrial 5L,Q4,12,0.0,0.0,2019-11-01
2040581,10618,20953,201911,0.0,1.0,0.01817,0.01817,HC,PROFESIONAL,PISOS,MUSCULO,5000,Profesinal pisos plastificados,Q4,11,0.0,4.0,2019-11-01
2040582,10618,20953,201912,0.0,0.0,0.00000,0.00000,HC,PROFESIONAL,PISOS,MUSCULO,5000,Profesinal pisos plastificados,Q4,12,0.0,0.0,2019-11-01

In [44]:
df_full = df_full.drop(columns=['Unnamed: 0'])

#### Paso 2: Aplicar LabelEncoder a las columnas categóricas

In [46]:
categorical_cols = ['cat1', 'cat2', 'cat3', 'brand', 'descripcion', 'quarter']

label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df_full[col] = le.fit_transform(df_full[col])
    label_encoders[col] = le

display(df_full)

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,10001,20001,201812,0.0,20.0,254.62373,254.62373,1,10,47,0,3000,384,3,12,1.0,23.0,2018-12-01
1,10001,20001,201901,0.0,53.0,393.26092,386.60688,1,10,47,0,3000,384,0,1,0.0,24.0,2018-12-01
2,10001,20001,201902,0.0,39.0,309.90610,309.90610,1,10,47,0,3000,384,0,2,0.0,25.0,2018-12-01
3,10001,20001,201903,0.0,23.0,142.87158,130.54927,1,10,47,0,3000,384,0,3,1.0,26.0,2018-12-01
4,10001,20001,201904,0.0,33.0,364.37071,364.37071,1,10,47,0,3000,384,1,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,10618,20845,201912,0.0,0.0,0.00000,0.00000,1,8,54,21,5000,260,3,12,0.0,0.0,2019-11-01
2040579,10618,20886,201911,0.0,1.0,0.01884,0.01884,1,8,31,21,5000,158,3,11,0.0,4.0,2019-11-01
2040580,10618,20886,201912,0.0,0.0,0.00000,0.00000,1,8,31,21,5000,158,3,12,0.0,0.0,2019-11-01
2040581,10618,20953,201911,0.0,1.0,0.01817,0.01817,1,8,54,21,5000,256,3,11,0.0,4.0,2019-11-01
2040582,10618,20953,201912,0.0,0.0,0.00000,0.00000,1,8,54,21,5000,256,3,12,0.0,0.0,2019-11-01

#### Paso 4: Agrupar ventas por periodo, cat1, cat2, cat3, brand, customer_id y product_id

Aplico escalado

In [47]:
scalers = {}
scaled_data = []

for (product_id, customer_id), group in df_full.groupby(['product_id', 'customer_id']):
    group = group.copy()
    scaler = StandardScaler()
    group['tn'] = scaler.fit_transform(group[['tn']])
    
    # Guardar el scaler en el diccionario con una clave única
    key = f'{product_id}_{customer_id}'
    scalers[key] = scaler
    
    # Añadir el grupo escalado a la lista
    scaled_data.append(group)

scaled_df = pd.concat(scaled_data, ignore_index=True)

joblib.dump(scalers, 'scalers.pkl')

scaled_df.to_csv('scaled_final_dataset.csv', sep='\t', index=False)

In [39]:
df_full

In [40]:
display(scaled_df)

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,quarter,month,close_quarter,age,mes_inicial
0,10001,20001,201812,0.0,20.0,254.62373,0.300570,1,10,47,0,3000,384,3,12,1.0,23.0,2018-12-01
1,10001,20001,201901,0.0,53.0,393.26092,1.379834,1,10,47,0,3000,384,0,1,0.0,24.0,2018-12-01
2,10001,20001,201902,0.0,39.0,309.90610,0.752630,1,10,47,0,3000,384,0,2,0.0,25.0,2018-12-01
3,10001,20001,201903,0.0,23.0,142.87158,-0.714023,1,10,47,0,3000,384,0,3,1.0,26.0,2018-12-01
4,10001,20001,201904,0.0,33.0,364.37071,1.198002,1,10,47,0,3000,384,1,4,0.0,27.0,2018-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,10495,21276,201912,0.0,0.0,0.00000,-0.333333,2,6,18,23,140,412,3,12,0.0,0.0,2019-03-01
2040579,10550,21276,201909,0.0,1.0,0.00075,-0.238688,2,6,18,23,140,412,2,9,1.0,6.0,2019-09-01
2040580,10550,21276,201910,0.0,0.0,0.00000,-0.729144,2,6,18,23,140,412,3,10,0.0,0.0,2019-09-01
2040581,10550,21276,201911,0.0,2.0,0.00371,1.696976,2,6,18,23,140,412,3,11,0.0,8.0,2019-09-01
2040582,10550,21276,201912,0.0,0.0,0.00000,-0.729144,2,6,18,23,140,412,3,12,0.0,0.0,2019-09-01

In [50]:
scaled_df.dtypes

customer_id                int64
product_id                 int64
periodo                    int64
plan_precios_cuidados    float64
cust_request_qty         float64
cust_request_tn          float64
tn                       float64
cat1                       int64
cat2                       int64
cat3                       int64
brand                      int64
sku_size                   int64
descripcion                int64
quarter                    int64
month                      int64
close_quarter            float64
age                      float64
mes_inicial               object
dtype: object

Agrupo y sumarizo

In [41]:
grouped_df = scaled_df.groupby(['periodo', 'cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'product_id', 'quarter', 'month']).agg({
    'cust_request_qty': 'sum',
    'cust_request_tn': 'sum',
    'tn': 'sum'
}).reset_index()

In [42]:
display(grouped_df[(grouped_df["customer_id"] == 10001) & (grouped_df["product_id"] == 20001)])

,periodo,cat1,cat2,cat3,brand,customer_id,product_id,quarter,month,cust_request_qty,cust_request_tn,tn
15840,201812,1,10,47,0,10001,20001,3,12,20.0,254.62373,0.300570
80495,201901,1,10,47,0,10001,20001,0,1,53.0,393.26092,1.379834
175202,201902,1,10,47,0,10001,20001,0,2,39.0,309.90610,0.752630
294172,201903,1,10,47,0,10001,20001,0,3,23.0,142.87158,-0.714023
431929,201904,1,10,47,0,10001,20001,1,4,33.0,364.37071,1.198002
583070,201905,1,10,47,0,10001,20001,1,5,31.0,439.90647,1.815680
744214,201906,1,10,47,0,10001,20001,1,6,7.0,65.92436,-1.242479
916759,201907,1,10,47,0,10001,20001,2,7,14.0,144.78714,-0.597595
1099078,201908,1,10,47,0,10001,20001,2,8,9.0,33.63991,-1.506478
1288478,201909,1,10,47,0,10001,20001,2,9,18.0,111.51691,-0.889808
1485389,201910,1,10,47,0,10001,20001,3,10,21.0,178.49426,-0.342115
1687214,201911,1,10,47,0,10001,20001,3,11,21.0,240.59870,0.153639
1892409,201912,1,10,47,0,10001,20001,3,12,18.0,214.72185,-0.307856

Aplico DTW para agrupar los registros (series de categorias/clientes similares)

In [43]:
from tslearn.clustering import TimeSeriesKMeans
import matplotlib.pyplot as plt

pivoted_df = grouped_df.pivot_table(index=['cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'product_id'], columns='periodo', values='tn').fillna(0)

inertia = []
max_clusters = 30

for k in range(4, max_clusters + 1):
    print(f"Running K: {k}")
    model = TimeSeriesKMeans(n_clusters=k, metric="dtw", random_state=0)
    model.fit(pivoted_df.values)
    inertia.append(model.inertia_)
    display(inertia)

In [ ]:
plt.plot(range(4, max_clusters + 1), inertia, marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Inertia')
plt.title('Elbow Method for Optimal k')
plt.show()

In [54]:
# Debug de los valores
max_value = pivoted_df[201812].max()
min_value = pivoted_df[201812].min()

print(f"Máximo valor de la columna 'nombre_de_la_columna': {max_value}")
print(f"Mínimo valor de la columna 'nombre_de_la_columna': {min_value}")

Máximo valor de la columna 'nombre_de_la_columna': 3.4641016151377557
Mínimo valor de la columna 'nombre_de_la_columna': -2.479356382671416

In [45]:
n_clusters = 6
model = TimeSeriesKMeans(n_clusters=n_clusters, metric="dtw", random_state=0)
cluster_labels = model.fit_predict(pivoted_df.values)

pivoted_df['cluster'] = cluster_labels

grouped_df = grouped_df.merge(pivoted_df['cluster'], left_on=['cat1', 'cat2', 'cat3', 'brand', 'customer_id', 'product_id'], right_index=True)

grouped_df.to_csv('grouped_with_6_clusters_scaled.csv', index=False)

display(grouped_df)

,periodo,cat1,cat2,cat3,brand,customer_id,product_id,quarter,month,cust_request_qty,cust_request_tn,tn,cluster
0,201812,0,0,4,22,10001,20609,3,12,6.0,0.87535,2.296914,5
1,201812,0,0,4,22,10002,20609,3,12,8.0,0.27780,1.211273,3
2,201812,0,0,4,22,10003,20609,3,12,1.0,0.27256,0.342311,3
3,201812,0,0,4,22,10004,20609,3,12,1.0,0.13628,-1.040164,4
4,201812,0,0,4,22,10005,20609,3,12,7.0,0.06290,-0.011106,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,201912,3,13,82,32,10367,21222,3,12,0.0,0.00000,-0.426401,5
2040579,201912,3,13,82,32,10482,21192,3,12,0.0,0.00000,-0.377964,0
2040580,201912,3,13,82,32,10482,21222,3,12,0.0,0.00000,-0.377964,0
2040581,201912,3,13,82,32,10513,21222,3,12,0.0,0.00000,-0.577350,0
2040582,201912,3,13,82,32,10552,21192,3,12,0.0,0.00000,-0.534522,4

In [46]:
grouped_df

,periodo,cat1,cat2,cat3,brand,customer_id,product_id,quarter,month,cust_request_qty,cust_request_tn,tn,cluster
0,201812,0,0,4,22,10001,20609,3,12,6.0,0.87535,2.296914,5
1,201812,0,0,4,22,10002,20609,3,12,8.0,0.27780,1.211273,3
2,201812,0,0,4,22,10003,20609,3,12,1.0,0.27256,0.342311,3
3,201812,0,0,4,22,10004,20609,3,12,1.0,0.13628,-1.040164,4
4,201812,0,0,4,22,10005,20609,3,12,7.0,0.06290,-0.011106,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040578,201912,3,13,82,32,10367,21222,3,12,0.0,0.00000,-0.426401,5
2040579,201912,3,13,82,32,10482,21192,3,12,0.0,0.00000,-0.377964,0
2040580,201912,3,13,82,32,10482,21222,3,12,0.0,0.00000,-0.377964,0
2040581,201912,3,13,82,32,10513,21222,3,12,0.0,0.00000,-0.577350,0
2040582,201912,3,13,82,32,10552,21192,3,12,0.0,0.00000,-0.534522,4

#### Paso 5: Armar un modelo LSTM

In [47]:
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense, LeakyReLU
from keras.regularizers import l2

le_factor = 0.1
activation = 'tanh'

def build_lstm_model(input_shape):
    model = Sequential()
    model.add(LSTM(128, activation=activation, return_sequences=True, kernel_regularizer=l2(le_factor), input_shape=input_shape))
    model.add(Dropout(0.1))
    
    model.add(LSTM(256, activation=activation, kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    model.add(LSTM(512, activation=activation, kernel_regularizer=l2(le_factor), return_sequences=True))
    model.add(Dropout(0.1))
    
    
    model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(le_factor)))
    model.add(Dropout(0.1))
    # model.add(LSTM(512, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    # model.add(Dropout(0.1))
    # model.add(LSTM(256, activation='tanh', kernel_regularizer=l2(le_factor), return_sequences=True))
    # model.add(Dropout(0.1))
    # model.add(LSTM(128, activation='tanh', kernel_regularizer=l2(le_factor)))
    # model.add(Dropout(0.1))

    # model.add(Dense(128, activation='tanh', kernel_regularizer=l2(le_factor)))
    # model.add(Dense(64, activation='relu', kernel_regularizer=l2(le_factor))) 
    model.add(Dense(32, activation=activation))
    model.add(Dense(1))
    model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='mean_squared_error')
    return model

#### Paso 6: Entrenar y predecir con el modelo LSTM para cada grupo

In [48]:
import pandas as pd
total = 0

for i in range(n_clusters):
    cluster_number = i

    # Filtrar el DataFrame por el cluster deseado
    cluster_data = grouped_df[grouped_df['cluster'] == cluster_number]

    unique_combinations = cluster_data[['customer_id', 'product_id']].drop_duplicates().shape[0]
    total += unique_combinations
    print(f"Cluster {cluster_number}:")
    print(f"  Número de registros: {len(cluster_data)}")
    print(f"  Número de combinaciones únicas 'customer_id' y 'product_id': {unique_combinations}")
    print()
    
print(f"Total {total}")

Cluster 0:
  Número de registros: 666585
  Número de combinaciones únicas 'customer_id' y 'product_id': 83392

Cluster 1:
  Número de registros: 228203
  Número de combinaciones únicas 'customer_id' y 'product_id': 21917

Cluster 2:
  Número de registros: 178761
  Número de combinaciones únicas 'customer_id' y 'product_id': 15150

Cluster 3:
  Número de registros: 357816
  Número de combinaciones únicas 'customer_id' y 'product_id': 32497

Cluster 4:
  Número de registros: 408953
  Número de combinaciones únicas 'customer_id' y 'product_id': 38497

Cluster 5:
  Número de registros: 200265
  Número de combinaciones únicas 'customer_id' y 'product_id': 15405

Total 206858

Calculo los pesos y los guardo en un dic para mejorar la performance

In [7]:
total_tn_dict = df[df['periodo'] == 201912].groupby('product_id')['tn'].sum().to_dict()
display(total_tn_dict)

{20001: 1504.68856,
 20002: 1087.30855,
 20003: 892.50129,
 20004: 637.90002,
 20005: 593.24443,
 20006: 417.23228,
 20007: 390.43432,
 20008: 195.36854,
 20009: 495.03574000000003,
 20010: 359.59998,
 20011: 392.3829,
 20012: 173.13004,
 20013: 318.09141,
 20014: 272.02812,
 20015: 297.27663,
 20016: 273.20202,
 20017: 216.90773,
 20018: 141.63569999999999,
 20019: 351.54708,
 20020: 266.06358,
 20021: 203.76721,
 20022: 210.8346,
 20023: 181.13277,
 20024: 270.45018,
 20025: 241.83432000000002,
 20026: 235.10419,
 20027: 155.25876,
 20028: 109.92618,
 20029: 150.64869,
 20030: 102.7572,
 20031: 139.91577,
 20032: 527.79811,
 20033: 96.76212,
 20035: 179.97912,
 20037: 63.37274,
 20038: 157.68477000000001,
 20039: 128.40394,
 20041: 113.11379,
 20042: 124.20086,
 20043: 93.77222,
 20044: 59.61747,
 20045: 149.89961,
 20046: 149.9563,
 20047: 71.49763,
 20049: 124.84836,
 20050: 117.02742,
 20051: 132.46038000000001,
 20052: 95.51068,
 20053: 146.36584,
 20054: 121.2091,
 20055: 65.85747,
 20056: 63.7182,
 20057: 141.36774,
 20058: 117.82985,
 20059: 111.51138999999999,
 20061: 106.44895,
 20062: 90.97637,
 20063: 103.52372,
 20065: 77.98518,
 20066: 119.28134,
 20067: 88.49566,
 20068: 92.92737,
 20069: 136.63984,
 20070: 68.44316,
 20071: 104.77091,
 20072: 32.2686,
 20073: 122.47019,
 20074: 98.07553,
 20075: 105.42961,
 20076: 68.45922,
 20077: 34.58847,
 20079: 27.68496,
 20080: 8.84426,
 20081: 94.25871,
 20082: 78.87082,
 20084: 94.68236,
 20085: 221.56404,
 20086: 42.51979,
 20087: 89.63008,
 20089: 102.33626,
 20090: 35.97712,
 20091: 92.24345,
 20092: 47.45286,
 20093: 73.28412,
 20094: 59.12954,
 20095: 28.52853,
 20096: 44.24611,
 20097: 55.29078,
 20099: 57.827130000000004,
 20100: 1.3792,
 20101: 72.80091,
 20102: 19.17797,
 20103: 63.99622,
 20106: 74.51262,
 20107: 86.05666,
 20108: 58.34718,
 20109: 61.8432,
 20111: 93.88818,
 20112: 107.06263,
 20114: 44.16048,
 20116: 118.60205,
 20117: 36.0325,
 20118: 61.15123,
 20119: 36.26867,
 20120: 72.21068,
 20121: 78.96685000000001,
 20122: 64.62255,
 20123: 59.148179999999996,
 20124: 38.10841,
 20125: 47.559329999999996,
 20126: 94.95288,
 20127: 170.32792,
 20129: 52.92339,
 20130: 83.3077,
 20132: 40.09161,
 20133: 30.835350000000002,
 20134: 49.98357,
 20135: 101.03175,
 20137: 37.55127,
 20138: 28.33495,
 20139: 53.48889,
 20140: 58.149,
 20142: 35.89411,
 20143: 29.92779,
 20144: 41.30604,
 20145: 65.41274,
 20146: 30.472260000000002,
 20148: 57.163380000000004,
 20150: 51.35196,
 20151: 44.81184,
 20152: 23.926669999999998,
 20153: 48.78881,
 20155: 61.25175,
 20157: 55.77624,
 20158: 55.02588,
 20159: 61.78339,
 20160: 43.18815,
 20161: 34.9225,
 20162: 51.43634,
 20164: 71.3349,
 20166: 33.52579,
 20167: 43.851729999999996,
 20168: 15.155560000000001,
 20170: 64.4108,
 20174: 91.1178,
 20175: 19.70895,
 20176: 23.87612,
 20177: 24.51696,
 20179: 39.70194,
 20180: 36.95611,
 20181: 33.36284,
 20182: 20.87961,
 20183: 20.47573,
 20184: 26.13296,
 20187: 19.99026,
 20188: 22.88825,
 20189: 32.59489,
 20192: 21.45354,
 20193: 24.92724,
 20196: 35.180600000000005,
 20197: 27.90918,
 20198: 22.40804,
 20200: 20.87857,
 20201: 26.166990000000002,
 20202: 24.48113,
 20203: 55.2097,
 20205: 29.13191,
 20206: 23.43432,
 20207: 18.51692,
 20208: 20.14227,
 20209: 16.08116,
 20210: 58.78261,
 20211: 16.10922,
 20212: 22.494790000000002,
 20213: 58.84043,
 20215: 23.14009,
 20216: 9.20284,
 20218: 31.369320000000002,
 20219: 23.10671,
 20220: 19.46485,
 20222: 21.01334,
 20224: 21.26943,
 20225: 16.66252,
 20226: 11.32801,
 20227: 38.712650000000004,
 20228: 5.0385100000000005,
 20230: 18.17921,
 20231: 21.31542,
 20232: 28.2828,
 20233: 35.59532,
 20234: 4.84796,
 20235: 32.13552,
 20236: 34.70341,
 20237: 29.51673,
 20238: 16.61631,
 20239: 20.10279,
 20240: 19.51977,
 20241: 12.8158,
 20242: 4.03604,
 20244: 26.46154,
 20246: 24.60939,
 20249: 8.00053,
 20251: 14.79641,
 20252: 12.20597,
 20253: 15.26885,
 20254: 17.46847,
 20255: 12.15816,
 20256: 17.63436,
 20257: 51.77148,
 20259: 12.43223,
 20261: 43.74576,
 20262: 25.6396,
 20263: 20.855059999999998,
 20264: 16.582530000000002,
 20265: 4.57848,
 20266: 49.55769,
 20267: 18.01748,
 20268: 11.99271,
 20269: 19.13008,
 20270: 6.778370000000001,
 20271: 8.34905,
 20272: 12.66437,
 20273: 12.4634,
 20275: 14.93964,
 20276: 18.62694,
 20277: 9.61208,
 20278: 6.27424,
 20280: 17.02489,
 20281: 9.81001,
 20282: 12.8247,
 20283: 12.82352,
 20284: 11.79748,
 20285: 4.3322,
 20286: 50.55931,
 20288: 21.12175,
 20289: 10.01,
 20290: 21.56585,
 20291: 9.75289,
 20292: 9.80518,
 20295: 6.04878,
 20296: 18.64666,
 20297: 35.089,
 20298: 11.28594,
 20299: 10.61151,
 20300: 17.14787,
 20301: 8.31315,
 20302: 2.35687,
 20303: 18.3878,
 20304: 5.88588,
 20305: 2.56676,
 20306: 32.270920000000004,
 20307: 13.525310000000001,
 20309: 8.112119999999999,
 20310: 9.749849999999999,
 20311: 18.16724,
 20313: 27.15804,
 20314: 18.852050000000002,
 20315: 16.64451,
 20316: 27.23436,
 20317: 14.823310000000001,
 20319: 11.81172,
 20320: 13.48012,
 20321: 27.62797,
 20322: 5.57864,
 20323: 24.40797,
 20324: 10.957410000000001,
 20325: 5.26778,
 20326: 15.6484,
 20327: 11.90046,
 20328: 9.333870000000001,
 20329: 11.05355,
 20330: 13.79536,
 20332: 12.96845,
 20334: 0.18631999999999999,
 20335: 11.7811,
 20336: 8.61019,
 20337: 13.82469,
 20338: 8.13739,
 20340: 8.06882,
 20341: 8.46183,
 20342: 11.97748,
 20343: 11.96007,
 20344: 15.9908,
 20346: 14.96339,
 20348: 11.72618,
 20349: 17.46373,
 20350: 1.23931,
 20351: 14.08152,
 20352: 17.35029,
 20353: 6.63564,
 20354: 12.29584,
 20355: 25.633470000000003,
 20356: 13.82404,
 20357: 18.325,
 20358: 10.92,
 20359: 14.16642,
 20361: 13.57393,
 20362: 6.61718,
 20364: 30.711399999999998,
 20365: 10.90371,
 20366: 10.34722,
 20367: 9.55006,
 20368: 10.4105,
 20372: 4.66326,
 20375: 4.38548,
 20377: 7.24521,
 20378: 7.68167,
 20379: 6.4533,
 20380: 14.64208,
 20381: 18.21145,
 20382: 9.3097,
 20383: 7.43444,
 20384: 7.21169,
 20385: 7.4722,
 20386: 11.22573,
 20387: 8.58751,
 20388: 6.6502799999999995,
 20389: 34.54417,
 20390: 9.2709,
 20395: 26.65657,
 20396: 5.93867,
 20398: 1.0473,
 20400: 9.74484,
 20401: 9.16454,
 20402: 15.10782,
 20403: 10.9533,
 20404: 9.25704,
 20406: 10.276150000000001,
 20407: 6.63483,
 20408: 11.77663,
 20409: 2.40926,
 20410: 10.14597,
 20411: 9.12526,
 20414: 28.50819,
 20415: 4.85906,
 20416: 0.8585,
 20417: 7.38835,
 20418: 0.5267000000000001,
 20419: 13.59539,
 20421: 11.95817,
 20422: 0.92601,
 20424: 5.42003,
 20426: 8.05316,
 20428: 1.65654,
 20429: 0.9946900000000001,
 20432: 5.4624,
 20433: 15.75243,
 20434: 8.25951,
 20438: 16.27824,
 20440: 34.28062,
 20442: 23.79055,
 20443: 8.00212,
 20447: 6.65567,
 20449: 1.08866,
 20450: 6.24297,
 20453: 16.32757,
 20456: 6.10371,
 20458: 22.48458,
 20459: 15.42616,
 20460: 8.94893,
 20463: 10.21467,
 20464: 3.55347,
 20465: 3.54101,
 20466: 7.27034,
 20469: 7.43516,
 20470: 8.27397,
 20473: 6.6120600000000005,
 20474: 9.65317,
 20476: 19.73377,
 20477: 6.01202,
 20478: 5.35491,
 20479: 7.92463,
 20480: 5.21702,
 20481: 8.74287,
 20482: 5.68619,
 20483: 8.52225,
 20484: 1.56548,
 20488: 8.62499,
 20490: 0.48618999999999996,
 20491: 11.94289,
 20495: 12.65039,
 20496: 6.49094,
 20497: 5.5455,
 20500: 8.61567,
 20502: 5.83704,
 20503: 0.83948,
 20505: 1.41934,
 20508: 4.02445,
 20509: 1.10399,
 20510: 9.0775,
 20513: 12.77476,
 20514: 5.77288,
 20517: 4.0131,
 20520: 6.9888,
 20521: 9.54402,
 20522: 12.64676,
 20523: 7.63168,
 20524: 3.37671,
 20525: 15.9413,
 20526: 13.65706,
 20527: 7.74072,
 20530: 2.70755,
 20531: 12.40991,
 20532: 6.38886,
 20536: 5.33565,
 20537: 12.0668,
 20538: 6.02223,
 20539: 5.81923,
 20540: 6.4430000000000005,
 20541: 8.18859,
 20542: 8.25353,
 20544: 6.43633,
 20547: 12.23047,
 20548: 12.24028,
 20549: 4.18343,
 20551: 5.13514,
 20552: 2.39711,
 20553: 7.04809,
 20555: 1.79267,
 20558: 3.4579999999999997,
 20559: 7.1281,
 20560: 5.1622,
 20561: 0.37611,
 20563: 7.4654,
 20565: 3.83425,
 20567: 7.02946,
 20568: 2.85831,
 20569: 12.84918,
 20570: 6.88673,
 20571: 7.32115,
 20572: 3.90293,
 20574: 2.60938,
 20575: 9.11891,
 20576: 12.3194,
 20577: 8.44628,
 20578: 3.4644,
 20579: 3.101,
 20580: 15.91044,
 20583: 3.65662,
 20585: 7.09842,
 20586: 0.33821,
 20588: 0.6005999999999999,
 20589: 6.74483,
 20592: 12.04725,
 20593: 8.18131,
 20596: 4.49828,
 20597: 0.23346,
 20599: 4.55627,
 20600: 1.55091,
 20601: 0.57274,
 20602: 3.26558,
 20603: 7.70408,
 20604: 13.179879999999999,
 20605: 6.43393,
 20606: 2.34434,
 20609: 0.47173,
 20611: 9.19572,
 20612: 4.18386,
 20614: 2.23479,
 20615: 14.06805,
 20617: 1.36963,
 20620: 6.91217,
 20621: 7.23179,
 20622: 4.72215,
 20623: 10.20951,
 20624: 5.34485,
 20627: 9.34447,
 20628: 3.28467,
 20629: 2.32608,
 20632: 2.05983,
 20633: 6.92866,
 20636: 0.37304,
 20637: 4.74964,
 20638: 8.33849,
 20639: 4.9791,
 20640: 2.72739,
 20641: 2.19101,
 20642: 3.02384,
 20644: 2.6208,
 20646: 4.05327,
 20647: 1.92544,
 20649: 14.79183,
 20651: 2.37627,
 20652: 3.69362,
 20653: 3.43338,
 20654: 5.23921,
 20655: 2.58001,
 20657: 3.71165,
 20658: 3.40902,
 20659: 7.73487,
 20660: 0.22825,
 20661: 3.46726,
 20662: 11.50205,
 20663: 0.17495,
 20664: 2.96002,
 20666: 2.1839999999999997,
 20667: 2.54736,
 20670: 0.8472799999999999,
 20672: 3.4144799999999997,
 20673: 9.15194,
 20674: 8.38539,
 20676: 2.1457800000000002,
 20677: 2.29468,
 20678: 0.391,
 20679: 10.29418,
 20680: 5.18177,
 20681: 8.83008,
 20682: 5.3508000000000004,
 20684: 0.76875,
 20685: 0.9511499999999999,
 20686: 9.60049,
 20689: 2.2932,
 20691: 7.99868,
 20693: 3.71123,
 20694: 8.90416,
 20696: 4.999,
 20697: 2.59869,
 20699: 3.03395,
 20700: 3.11353,
 20701: 3.76215,
 20702: 2.03063,
 20703: 9.4657,
 20705: 1.0319399999999999,
 20706: 4.85225,
 20708: 4.31759,
 20709: 8.64319,
 20711: 7.00535,
 20713: 1.468,
 20714: 4.22997,
 20715: 1.62241,
 20719: 7.74604,
 20720: 8.95012,
 20721: 0.10375,
 20724: 1.47147,
 20729: 0.3598,
 20730: 1.58932,
 20732: 5.96173,
 20733: 1.11124,
 20735: 1.37555,
 20737: 2.07177,
 20739: 2.92295,
 20741: 1.35364,
 20742: 0.91993,
 20743: 1.11232,
 20744: 3.90804,
 20745: 1.30308,
 20746: 4.26365,
 20749: 2.73283,
 20750: 1.37322,
 20751: 3.04284,
 20754: 8.55531,
 20756: 4.40403,
 20757: 2.37376,
 20758: 4.3724300000000005,
 20759: 1.49063,
 20761: 2.47668,
 20762: 6.8284899999999995,
 20765: 0.25988,
 20768: 1.51197,
 20771: 0.95168,
 20772: 2.53867,
 20773: 0.18296,
 20774: 5.44871,
 20775: 2.19749,
 20777: 2.07783,
 20781: 0.70834,
 20783: 3.65745,
 20785: 2.93047,
 20786: 0.60138,
 20788: 1.47053,
 20789: 1.4464299999999999,
 20793: 2.64061,
 20795: 3.56276,
 20800: 0.66127,
 20801: 1.66194,
 20802: 1.04494,
 20803: 1.01973,
 20807: 2.14955,
 20809: 3.19917,
 20810: 1.60242,
 20811: 2.65751,
 20812: 0.76986,
 20815: 6.33522,
 20817: 1.35408,
 20818: 1.56334,
 20820: 1.8666099999999999,
 20822: 5.92346,
 20823: 1.7907,
 20824: 0.28688,
 20826: 1.78647,
 20827: 2.60942,
 20828: 0.47617,
 20830: 1.11598,
 20831: 2.65266,
 20832: 0.23123,
 20835: 0.9755199999999999,
 20838: 1.96905,
 20840: 1.73797,
 20843: 0.77417,
 20845: 2.22201,
 20846: 0.55875,
 20847: 1.02539,
 20849: 2.0799600000000003,
 20852: 0.29701,
 20853: 2.8984199999999998,
 20855: 1.27043,
 20859: 3.06268,
 20862: 1.30819,
 20863: 1.09065,
 20864: 1.22199,
 20865: 1.69039,
 20870: 1.32583,
 20877: 0.8133,
 20878: 1.26697,
 20879: 1.46764,
 20882: 1.48505,
 20883: 0.86097,
 20885: 1.4784899999999999,
 20886: 1.09253,
 20892: 1.0854000000000001,
 20894: 1.89225,
 20899: 2.32761,
 20901: 0.73891,
 20902: 1.56067,
 20904: 4.55923,
 20906: 0.72535,
 20907: 3.47802,
 20908: 2.29554,
 20910: 5.20738,
 20912: 3.03888,
 20913: 0.78256,
 20914: 1.06175,
 20917: 2.29184,
 20919: 0.43074,
 20920: 2.4836,
 20922: 1.04686,
 20924: 3.70952,
 20925: 0.53211,
 20927: 3.05867,
 20928: 2.92793,
 20931: 1.43487,
 20932: 1.8699999999999999,
 20933: 3.68027,
 20936: 0.16453,
 20937: 1.03081,
 20941: 0.82051,
 20942: 1.72156,
 20945: 0.86828,
 20946: 3.14228,
 20947: 0.45535000000000003,
 20948: 0.41822,
 20949: 0.88794,
 20951: 0.3287,
 20953: 2.3988,
 20956: 0.59267,
 20957: 1.10726,
 20961: 0.83519,
 20962: 1.99182,
 20965: 0.55034,
 20966: 1.73472,
 20967: 1.55408,
 20968: 1.91479,
 20970: 0.43677,
 20975: 1.69045,
 20976: 0.61586,
 20982: 0.13177999999999998,
 20985: 0.7459899999999999,
 20986: 0.57885,
 20987: 0.16926,
 20990: 0.4538,
 20991: 0.14446,
 20994: 0.18545,
 20995: 1.55285,
 20996: 0.22495,
 20997: 0.88972,
 21001: 0.52382,
 21003: 0.44116,
 21006: 0.96358,
 21007: 1.8007300000000002,
 21008: 0.99321,
 21014: 1.09473,
 21016: 0.45426,
 21022: 0.76216,
 21024: 0.39419,
 21027: 1.73954,
 21028: 0.54486,
 21032: 0.17637,
 21033: 1.2670000000000001,
 21034: 0.55135,
 21035: 1.80884,
 21037: 0.4412,
 21038: 0.4357,
 21039: 1.9437399999999998,
 21040: 0.6441600000000001,
 21042: 1.61798,
 21044: 1.76904,
 21048: 0.45052000000000003,
 21049: 0.30829999999999996,
 21055: 0.41164,
 21056: 0.64179,
 21057: 0.67593,
 21058: 1.84115,
 21064: 0.32759,
 21065: 0.59662,
 21073: 0.75292,
 21074: 0.00311,
 21077: 0.21584,
 21079: 0.68459,
 21080: 0.37668999999999997,
 21084: 0.47287999999999997,
 21086: 0.63302,
 21087: 1.02205,
 21088: 0.08061,
 21092: 0.99937,
 21093: 0.2881,
 21097: 1.34469,
 21099: 0.17034,
 21105: 0.43487,
 21109: 0.9539,
 21110: 1.52502,
 21111: 1.46188,
 21112: 0.55859,
 21114: 1.49352,
 21118: 0.30167,
 21119: 1.14641,
 21126: 0.47548,
 21129: 0.7841,
 21131: 0.08076,
 21135: 0.29346,
 21140: 0.55694,
 21142: 0.10701999999999999,
 21144: 0.36366,
 21146: 0.39513,
 21153: 0.25441,
 21154: 0.12383000000000001,
 21155: 0.23501,
 21157: 0.16893,
 21159: 0.14194,
 21163: 0.339,
 21164: 0.15114,
 21167: 0.10550999999999999,
 21168: 0.14085,
 21170: 0.04078,
 21171: 0.30362,
 21176: 0.44148000000000004,
 21179: 0.29605000000000004,
 21180: 0.02,
 21182: 0.06688,
 21184: 0.15858,
 21190: 0.13297,
 21191: 0.09023,
 21192: 0.012379999999999999,
 21194: 0.08985,
 21196: 0.19440000000000002,
 21200: 0.12786,
 21201: 0.18025,
 21202: 0.04587,
 21207: 0.1208,
 21209: 0.07853,
 21212: 0.10563,
 21214: 0.24428,
 21218: 0.03348,
 21222: 0.02184,
 21224: 0.07537,
 21226: 0.04866,
 21227: 0.42182000000000003,
 21233: 0.03557,
 21244: 0.01552,
 21245: 0.02403,
 21246: 0.02117,
 21248: 0.01129,
 21252: 0.08560000000000001,
 21256: 0.012709999999999999,
 21259: 0.01412,
 21262: 0.01834,
 21263: 0.0127,
 21265: 0.050069999999999996,
 21266: 0.05121,
 21267: 0.015690000000000003,
 21276: 0.008919999999999999}

In [60]:
from keras.callbacks import ReduceLROnPlateau, EarlyStopping
import numpy as np

models = {}

reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=10, min_lr=0.00001, verbose=1)
early_stopping = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=False, mode="min", verbose=1)

# Preparar los datos por cluster
for cluster in range(n_clusters):
    display(f'Entrenando cluster numero: {cluster}')
    cluster_data = grouped_df[grouped_df['cluster'] == cluster].copy()
    cluster_data.sort_values(by='periodo', inplace=True)
    
    X, y = [], []
    X_weights = []

    for key, data in cluster_data.groupby(['customer_id', 'product_id']):
        series = data[['cat1', 'cat2', 'cat3', 'brand', 'quarter', 'month', 'product_id', 'customer_id', 'tn']].values
        if len(series) > 2:  # Asegurarse de que haya suficientes datos
            X.append(series[:-2])  # Todos los datos excepto los últimos 2
            y.append(series[-1, -1])
            
            product_id = key[1]
            total_tn = total_tn_dict.get(product_id, 0)
            X_weights.append(total_tn)
            
    
    #Padleft para que todos los registros tengan el mismo shape
    max_len = max(len(seq) for seq in X)
    X_padded = np.array([np.pad(seq, ((max_len - len(seq), 0), (0, 0)), mode='constant') for seq in X]).astype(np.float32)
    y = np.array(y).astype(np.float32)
    X_weights = np.array(X_weights).astype(np.float32)

    # Debug
    # print(len(X))
    # print(len(X_padded))
    # print(len(X_weights))
    # print(len(y))
    callbacks = [reduce_lr]

    # if cluster in [0, 12]:
    callbacks.append(early_stopping)
    
    # Construir y entrenar el modelo
    model = build_lstm_model((X_padded.shape[1], X_padded.shape[2]))
    model.fit(X_padded, y, epochs=100, verbose=2, batch_size=500, validation_split=0.2, sample_weight=X_weights, shuffle=True, callbacks=callbacks)
    models[cluster] = model

'Entrenando cluster numero: 0'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/100
125/125 - 98s - 781ms/step - loss: 40.3252 - val_loss: 1.9960 - learning_rate: 0.0010
Epoch 2/100
125/125 - 88s - 707ms/step - loss: 3.9820 - val_loss: 1.1932 - learning_rate: 0.0010
Epoch 3/100
125/125 - 89s - 710ms/step - loss: 3.7720 - val_loss: 1.0466 - learning_rate: 0.0010
Epoch 4/100
125/125 - 91s - 726ms/step - loss: 3.7090 - val_loss: 1.0967 - learning_rate: 0.0010
Epoch 5/100
125/125 - 124s - 995ms/step - loss: 3.6978 - val_loss: 1.0431 - learning_rate: 0.0010
Epoch 6/100
125/125 - 87s - 694ms/step - loss: 3.7000 - val_loss: 1.0531 - learning_rate: 0.0010
Epoch 7/100
125/125 - 88s - 702ms/step - loss: 3.6590 - val_loss: 1.2752 - learning_rate: 0.0010
Epoch 8/100
125/125 - 89s - 712ms/step - loss: 3.6747 - val_loss: 1.1669 - learning_rate: 0.0010
Epoch 9/100
125/125 - 89s - 715ms/step - loss: 3.6654 - val_loss: 0.9838 - learning_rate: 0.0010
Epoch 10/100
125/125 - 87s - 698ms/step - loss: 3.6712 - val_loss: 1.1632 - learning_rate: 0.0010
Epoch 11/100
125/125 - 87s - 700ms/step - loss: 3.6621 - val_loss: 1.5424 - learning_rate: 0.0010
Epoch 12/100
125/125 - 87s - 698ms/step - loss: 3.6612 - val_loss: 1.3573 - learning_rate: 0.0010
Epoch 13/100
125/125 - 85s - 679ms/step - loss: 3.6468 - val_loss: 0.9857 - learning_rate: 0.0010
Epoch 14/100
125/125 - 86s - 684ms/step - loss: 3.6257 - val_loss: 0.9840 - learning_rate: 0.0010
Epoch 15/100
125/125 - 85s - 681ms/step - loss: 3.6373 - val_loss: 1.1028 - learning_rate: 0.0010
Epoch 16/100
125/125 - 86s - 687ms/step - loss: 3.7050 - val_loss: 1.1735 - learning_rate: 0.0010
Epoch 17/100
125/125 - 86s - 685ms/step - loss: 3.6240 - val_loss: 1.1421 - learning_rate: 0.0010
Epoch 18/100
125/125 - 85s - 682ms/step - loss: 3.6316 - val_loss: 1.1408 - learning_rate: 0.0010
Epoch 19/100

Epoch 19: ReduceLROnPlateau reducing learning rate to 0.00020000000949949026.
125/125 - 86s - 686ms/step - loss: 3.6345 - val_loss: 1.1970 - learning_rate: 0.0010
Epoch 20/100
125/125 - 85s - 680ms/step - loss: 3.5801 - val_loss: 1.0058 - learning_rate: 2.0000e-04
Epoch 21/100
125/125 - 86s - 691ms/step - loss: 3.5657 - val_loss: 0.9497 - learning_rate: 2.0000e-04
Epoch 22/100
125/125 - 89s - 715ms/step - loss: 3.5640 - val_loss: 0.9466 - learning_rate: 2.0000e-04
Epoch 23/100
125/125 - 86s - 690ms/step - loss: 3.5646 - val_loss: 0.9512 - learning_rate: 2.0000e-04
Epoch 24/100
125/125 - 86s - 690ms/step - loss: 3.5622 - val_loss: 0.9414 - learning_rate: 2.0000e-04
Epoch 25/100
125/125 - 86s - 689ms/step - loss: 3.5602 - val_loss: 1.0059 - learning_rate: 2.0000e-04
Epoch 26/100
125/125 - 93s - 742ms/step - loss: 3.5610 - val_loss: 0.9961 - learning_rate: 2.0000e-04
Epoch 27/100
125/125 - 91s - 725ms/step - loss: 3.5556 - val_loss: 0.9446 - learning_rate: 2.0000e-04
Epoch 28/100
125/125 - 87s - 699ms/step - loss: 3.5610 - val_loss: 0.9480 - learning_rate: 2.0000e-04
Epoch 29/100
125/125 - 86s - 689ms/step - loss: 3.5557 - val_loss: 0.9531 - learning_rate: 2.0000e-04
Epoch 30/100
125/125 - 94s - 750ms/step - loss: 3.5619 - val_loss: 1.0679 - learning_rate: 2.0000e-04
Epoch 31/100
125/125 - 93s - 743ms/step - loss: 3.5690 - val_loss: 0.9475 - learning_rate: 2.0000e-04
Epoch 32/100
125/125 - 89s - 711ms/step - loss: 3.5604 - val_loss: 0.9695 - learning_rate: 2.0000e-04
Epoch 33/100
125/125 - 86s - 690ms/step - loss: 3.5571 - val_loss: 0.9334 - learning_rate: 2.0000e-04
Epoch 34/100
125/125 - 84s - 675ms/step - loss: 3.5578 - val_loss: 0.9401 - learning_rate: 2.0000e-04
Epoch 35/100
125/125 - 80s - 641ms/step - loss: 3.5595 - val_loss: 0.9358 - learning_rate: 2.0000e-04
Epoch 36/100
125/125 - 78s - 621ms/step - loss: 3.5599 - val_loss: 1.0001 - learning_rate: 2.0000e-04
Epoch 37/100
125/125 - 75s - 598ms/step - loss: 3.5610 - val_loss: 0.9404 - learning_rate: 2.0000e-04
Epoch 38/100
125/125 - 75s - 604ms/step - loss: 3.5577 - val_loss: 0.9547 - learning_rate: 2.0000e-04
Epoch 39/100
125/125 - 85s - 682ms/step - loss: 3.5556 - val_loss: 0.9364 - learning_rate: 2.0000e-04
Epoch 40/100
125/125 - 80s - 639ms/step - loss: 3.5574 - val_loss: 0.9600 - learning_rate: 2.0000e-04
Epoch 41/100
125/125 - 73s - 585ms/step - loss: 3.5642 - val_loss: 0.9401 - learning_rate: 2.0000e-04
Epoch 42/100
125/125 - 79s - 628ms/step - loss: 3.5584 - val_loss: 0.9613 - learning_rate: 2.0000e-04
Epoch 43/100

Epoch 43: ReduceLROnPlateau reducing learning rate to 4.0000001899898055e-05.
125/125 - 86s - 691ms/step - loss: 3.5569 - val_loss: 0.9418 - learning_rate: 2.0000e-04
Epoch 44/100
125/125 - 88s - 700ms/step - loss: 3.5440 - val_loss: 0.9382 - learning_rate: 4.0000e-05
Epoch 45/100
125/125 - 82s - 658ms/step - loss: 3.5475 - val_loss: 0.9491 - learning_rate: 4.0000e-05
Epoch 46/100
125/125 - 81s - 651ms/step - loss: 3.5468 - val_loss: 0.9349 - learning_rate: 4.0000e-05
Epoch 47/100
125/125 - 80s - 643ms/step - loss: 3.5520 - val_loss: 0.9344 - learning_rate: 4.0000e-05
Epoch 48/100
125/125 - 82s - 659ms/step - loss: 3.5542 - val_loss: 0.9346 - learning_rate: 4.0000e-05
Epoch 48: early stopping
Restoring model weights from the end of the best epoch: 33.

'Entrenando cluster numero: 1'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/100
35/35 - 32s - 918ms/step - loss: 196.6684 - val_loss: 105.9968 - learning_rate: 0.0010
Epoch 2/100
35/35 - 23s - 665ms/step - loss: 90.4530 - val_loss: 60.8620 - learning_rate: 0.0010
Epoch 3/100
35/35 - 21s - 607ms/step - loss: 57.3740 - val_loss: 38.3448 - learning_rate: 0.0010
Epoch 4/100
35/35 - 22s - 624ms/step - loss: 51.0066 - val_loss: 29.9848 - learning_rate: 0.0010
Epoch 5/100
35/35 - 22s - 625ms/step - loss: 36.6282 - val_loss: 29.3369 - learning_rate: 0.0010
Epoch 6/100
35/35 - 23s - 671ms/step - loss: 32.8158 - val_loss: 22.7124 - learning_rate: 0.0010
Epoch 7/100
35/35 - 25s - 724ms/step - loss: 29.7515 - val_loss: 22.5746 - learning_rate: 0.0010
Epoch 8/100
35/35 - 26s - 751ms/step - loss: 28.9670 - val_loss: 21.0242 - learning_rate: 0.0010
Epoch 9/100
35/35 - 25s - 718ms/step - loss: 28.6444 - val_loss: 21.5166 - learning_rate: 0.0010
Epoch 10/100
35/35 - 27s - 772ms/step - loss: 28.6306 - val_loss: 21.0221 - learning_rate: 0.0010
Epoch 11/100
35/35 - 25s - 715ms/step - loss: 28.6390 - val_loss: 20.9328 - learning_rate: 0.0010
Epoch 12/100
35/35 - 24s - 697ms/step - loss: 28.6948 - val_loss: 21.2725 - learning_rate: 0.0010
Epoch 13/100
35/35 - 24s - 699ms/step - loss: 28.6805 - val_loss: 21.0824 - learning_rate: 0.0010
Epoch 14/100
35/35 - 22s - 630ms/step - loss: 28.6878 - val_loss: 20.8853 - learning_rate: 0.0010
Epoch 15/100
35/35 - 26s - 733ms/step - loss: 28.6485 - val_loss: 20.8211 - learning_rate: 0.0010
Epoch 15: early stopping
Restoring model weights from the end of the best epoch: 1.

'Entrenando cluster numero: 2'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/100
25/25 - 24s - 954ms/step - loss: 176.7233 - val_loss: 105.2462 - learning_rate: 0.0010
Epoch 2/100
25/25 - 15s - 594ms/step - loss: 86.6257 - val_loss: 65.7449 - learning_rate: 0.0010
Epoch 3/100
25/25 - 14s - 577ms/step - loss: 57.6465 - val_loss: 43.2253 - learning_rate: 0.0010
Epoch 4/100
25/25 - 15s - 582ms/step - loss: 38.9039 - val_loss: 30.7208 - learning_rate: 0.0010
Epoch 5/100
25/25 - 14s - 574ms/step - loss: 28.0628 - val_loss: 22.4380 - learning_rate: 0.0010
Epoch 6/100
25/25 - 14s - 566ms/step - loss: 22.4906 - val_loss: 23.4001 - learning_rate: 0.0010
Epoch 7/100
25/25 - 14s - 577ms/step - loss: 20.4901 - val_loss: 17.8299 - learning_rate: 0.0010
Epoch 8/100
25/25 - 14s - 567ms/step - loss: 21.2915 - val_loss: 17.8904 - learning_rate: 0.0010
Epoch 9/100
25/25 - 14s - 575ms/step - loss: 19.5171 - val_loss: 17.5213 - learning_rate: 0.0010
Epoch 10/100
25/25 - 15s - 589ms/step - loss: 19.3575 - val_loss: 17.5178 - learning_rate: 0.0010
Epoch 11/100
25/25 - 16s - 659ms/step - loss: 19.3191 - val_loss: 17.4959 - learning_rate: 0.0010
Epoch 12/100
25/25 - 16s - 626ms/step - loss: 19.3072 - val_loss: 36.8603 - learning_rate: 0.0010
Epoch 13/100
25/25 - 16s - 641ms/step - loss: 20.4656 - val_loss: 17.9229 - learning_rate: 0.0010
Epoch 14/100
25/25 - 17s - 676ms/step - loss: 19.2494 - val_loss: 17.5227 - learning_rate: 0.0010
Epoch 15/100
25/25 - 17s - 695ms/step - loss: 19.5466 - val_loss: 17.7428 - learning_rate: 0.0010
Epoch 15: early stopping
Restoring model weights from the end of the best epoch: 1.

'Entrenando cluster numero: 3'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/100
52/52 - 44s - 850ms/step - loss: 118.6279 - val_loss: 54.7001 - learning_rate: 0.0010
Epoch 2/100
52/52 - 33s - 634ms/step - loss: 38.5972 - val_loss: 18.9337 - learning_rate: 0.0010
Epoch 3/100
52/52 - 37s - 702ms/step - loss: 16.7819 - val_loss: 7.4073 - learning_rate: 0.0010
Epoch 4/100
52/52 - 32s - 616ms/step - loss: 9.8296 - val_loss: 5.2084 - learning_rate: 0.0010
Epoch 5/100
52/52 - 33s - 627ms/step - loss: 8.5605 - val_loss: 5.1089 - learning_rate: 0.0010
Epoch 6/100
52/52 - 32s - 625ms/step - loss: 9.0850 - val_loss: 5.9669 - learning_rate: 0.0010
Epoch 7/100
52/52 - 30s - 584ms/step - loss: 8.3791 - val_loss: 5.2689 - learning_rate: 0.0010
Epoch 8/100
52/52 - 32s - 614ms/step - loss: 8.4198 - val_loss: 6.0849 - learning_rate: 0.0010
Epoch 9/100
52/52 - 31s - 602ms/step - loss: 8.9051 - val_loss: 5.5177 - learning_rate: 0.0010
Epoch 10/100
52/52 - 30s - 585ms/step - loss: 8.3447 - val_loss: 5.8590 - learning_rate: 0.0010
Epoch 11/100
52/52 - 30s - 576ms/step - loss: 8.3478 - val_loss: 5.1079 - learning_rate: 0.0010
Epoch 12/100
52/52 - 30s - 584ms/step - loss: 8.3494 - val_loss: 4.5843 - learning_rate: 0.0010
Epoch 13/100
52/52 - 30s - 580ms/step - loss: 8.3192 - val_loss: 4.7149 - learning_rate: 0.0010
Epoch 14/100
52/52 - 30s - 580ms/step - loss: 8.2904 - val_loss: 4.7979 - learning_rate: 0.0010
Epoch 15/100
52/52 - 30s - 579ms/step - loss: 8.2946 - val_loss: 4.6903 - learning_rate: 0.0010
Epoch 15: early stopping
Restoring model weights from the end of the best epoch: 1.

'Entrenando cluster numero: 4'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/100
62/62 - 57s - 926ms/step - loss: 92.3750 - val_loss: 32.5859 - learning_rate: 0.0010
Epoch 2/100
62/62 - 35s - 572ms/step - loss: 21.1384 - val_loss: 7.1413 - learning_rate: 0.0010
Epoch 3/100
62/62 - 37s - 599ms/step - loss: 8.4399 - val_loss: 2.3011 - learning_rate: 0.0010
Epoch 4/100
62/62 - 37s - 594ms/step - loss: 6.2865 - val_loss: 2.1685 - learning_rate: 0.0010
Epoch 5/100
62/62 - 37s - 590ms/step - loss: 6.1241 - val_loss: 1.7722 - learning_rate: 0.0010
Epoch 6/100
62/62 - 35s - 563ms/step - loss: 6.0955 - val_loss: 1.7742 - learning_rate: 0.0010
Epoch 7/100
62/62 - 35s - 564ms/step - loss: 6.0441 - val_loss: 1.7670 - learning_rate: 0.0010
Epoch 8/100
62/62 - 36s - 578ms/step - loss: 6.1187 - val_loss: 1.7647 - learning_rate: 0.0010
Epoch 9/100
62/62 - 35s - 567ms/step - loss: 6.9265 - val_loss: 2.0624 - learning_rate: 0.0010
Epoch 10/100
62/62 - 35s - 566ms/step - loss: 6.1047 - val_loss: 1.7978 - learning_rate: 0.0010
Epoch 11/100
62/62 - 36s - 578ms/step - loss: 6.0723 - val_loss: 1.8438 - learning_rate: 0.0010
Epoch 12/100
62/62 - 35s - 569ms/step - loss: 6.1850 - val_loss: 1.9116 - learning_rate: 0.0010
Epoch 13/100
62/62 - 35s - 562ms/step - loss: 6.0668 - val_loss: 1.9308 - learning_rate: 0.0010
Epoch 14/100
62/62 - 36s - 577ms/step - loss: 6.0455 - val_loss: 2.2080 - learning_rate: 0.0010
Epoch 15/100
62/62 - 35s - 565ms/step - loss: 6.0585 - val_loss: 1.8370 - learning_rate: 0.0010
Epoch 15: early stopping
Restoring model weights from the end of the best epoch: 1.

'Entrenando cluster numero: 5'

/Users/mmarchetta/Desktop/LaboratorioIII/my_env/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/100
25/25 - 22s - 886ms/step - loss: 164.4847 - val_loss: 96.7419 - learning_rate: 0.0010
Epoch 2/100
25/25 - 14s - 580ms/step - loss: 85.1293 - val_loss: 59.8720 - learning_rate: 0.0010
Epoch 3/100
25/25 - 14s - 579ms/step - loss: 54.6554 - val_loss: 37.1717 - learning_rate: 0.0010
Epoch 4/100
25/25 - 14s - 574ms/step - loss: 37.1880 - val_loss: 24.5865 - learning_rate: 0.0010
Epoch 5/100
25/25 - 14s - 577ms/step - loss: 27.4884 - val_loss: 17.6874 - learning_rate: 0.0010
Epoch 6/100
25/25 - 14s - 578ms/step - loss: 21.7700 - val_loss: 13.1000 - learning_rate: 0.0010
Epoch 7/100
25/25 - 15s - 603ms/step - loss: 19.3122 - val_loss: 11.5645 - learning_rate: 0.0010
Epoch 8/100
25/25 - 15s - 585ms/step - loss: 17.5725 - val_loss: 10.7833 - learning_rate: 0.0010
Epoch 9/100
25/25 - 14s - 580ms/step - loss: 17.0984 - val_loss: 10.5596 - learning_rate: 0.0010
Epoch 10/100
25/25 - 15s - 598ms/step - loss: 16.8555 - val_loss: 10.3975 - learning_rate: 0.0010
Epoch 11/100
25/25 - 15s - 585ms/step - loss: 17.1260 - val_loss: 10.4008 - learning_rate: 0.0010
Epoch 12/100
25/25 - 14s - 571ms/step - loss: 16.7205 - val_loss: 11.0454 - learning_rate: 0.0010
Epoch 13/100
25/25 - 14s - 565ms/step - loss: 16.8451 - val_loss: 10.9653 - learning_rate: 0.0010
Epoch 14/100
25/25 - 14s - 574ms/step - loss: 17.8009 - val_loss: 10.4893 - learning_rate: 0.0010
Epoch 15/100
25/25 - 14s - 577ms/step - loss: 16.7333 - val_loss: 10.5194 - learning_rate: 0.0010
Epoch 15: early stopping
Restoring model weights from the end of the best epoch: 1.

#### Paso 7: Sumarizar las predicciones

In [61]:
scalers = joblib.load('scalers.pkl')

predictions = []

for cluster in range(n_clusters):
    if cluster not in models:
        continue

    model = models[cluster]
    cluster_data = grouped_df[grouped_df['cluster'] == cluster].copy()
    
    X_pred_data = []
    keys = []
    for key, data in cluster_data.groupby(['customer_id', 'product_id']):
        series = data[['cat1', 'cat2', 'cat3', 'brand', 'quarter', 'month', 'product_id', 'customer_id', 'tn']].values
        max_len = len(series) - 1
        X_pred = np.pad(series[1:], ((max_len - len(series[1:]), 0), (0, 0)), mode='constant').astype(np.float32)
        X_pred_data.append(X_pred)
        keys.append(key)
    
    if len(X_pred_data) == 0:
        continue
    
    max_len_pred = max(len(seq) for seq in X_pred_data)
    X_pred_padded = np.array([np.pad(seq, ((max_len_pred - len(seq), 0), (0, 0)), mode='constant') for seq in X_pred_data]).astype(np.float32)
    X_pred_padded = np.reshape(X_pred_padded, (X_pred_padded.shape[0], X_pred_padded.shape[1], X_pred_padded.shape[2]))
    
    preds = model.predict(X_pred_padded, verbose=0)
    inversed_preds_df = []
    
    for key, pred in zip(keys, preds):
        customer_id, product_id = key
        scaler_key = f'{product_id}_{customer_id}'
        scaler_tn = scalers[scaler_key]
        inverse_pred = scaler_tn.inverse_transform([pred])
        
        if inverse_pred[0][0] < 0:
            inversed_preds_df.append(0)
            predictions.append([customer_id, product_id, 0])
        else:
            inversed_preds_df.append(inverse_pred[0][0])
            predictions.append([customer_id, product_id, inverse_pred[0][0]])
    
    pred_df_temp = pd.DataFrame(inversed_preds_df, columns=['prediccion'])
    pred_df_temp.to_csv(f"predicciones_temprales_cluster_pID{cluster}.csv", index=False)
    
consilated_df_temp = pd.DataFrame(predictions, columns=['customer_id', 'product_id', 'prediccion'])
consilated_df_temp.to_csv(f"predicciones_temprales_todos_clusters.csv", index=False)

In [62]:
summarized_preds = consilated_df_temp.groupby(['product_id'])['prediccion'].sum().reset_index()
# summarized_preds.iloc[-500:, summarized_preds.columns.get_loc('prediccion')] *= 1.3

final_predictions_df = pd.DataFrame(summarized_preds, columns=['product_id', 'prediccion'])

final_predictions_df.to_csv('predicciones_finales.csv', index=False)

display(final_predictions_df)

     product_id   prediccion
0         20001  1215.115926
1         20002  1035.359634
2         20003   799.409519
3         20004   582.356952
4         20005   551.110247
..          ...          ...
775       21263     0.020342
776       21265     0.019730
777       21266     0.039438
778       21267     0.052234
779       21276     0.015645

[780 rows x 2 columns]

In [31]:
summarized_preds['prediccion'].sum()

26921.902549791736